[2018-01-11 20:53] else commented on #164
Thanks! However I'm unable to scan the code with 1Password (manually entering works). Ideas?

[2018-01-11 21:09] djaiss commented on #793
I must have fucked up the process somewhere. I'll check. Sorry about that.

[2018-01-12 02:47] Phrohdoh commented on #717
For anyone else who comes across this issue [this](https://monicahq.com/api/overview) is the link you want.

[2018-01-12 02:54] Phrohdoh commented on #754
FWIW I use [cla-assistant](https://cla-assistant.io) for my projects.

[2018-01-12 03:03] Phrohdoh opened #794 "API settings view assumes user knowledge"
3 things regarding `/settings/api`:

1) API access

As a user my immediate thoughts are:

*What* "API"?

Where do I go to read about this *thing*?

Do I need to know what this is as a user? I assume so since it is part of my settings.

2) Personal access tokens

Ok I need to give this to someone I trust... my SO? Does this allow them to login as me?

Why would I create a PAT?

3) OAuth

As before,

[2018-01-12 03:11] Phrohdoh commented on #782
*All* `.DS_Store` files should be:
 - ignored (by adding `**/.DS_Store` to the `.gitignore` file), then
 - removed from the index (`git rm --cached **/.DS_Store`)

Then if you really want to clean up you can run `git clean -dfx` (but read the manpage first! and check out `git clean -dfxn` where `-n` is short for `--dry-run`).

[2018-01-12 14:58] asbiin commented on #782
The .sig files are mandatory, and must be behind the signed file.
That means the .travis.yml.sig is in the right place.
I could move the travis-sonar.sh, and its .sig file in another directory, but everything regarding CI is in the root directory for now. What subdirectory should we use ?

[2018-01-13 02:00] kofiav opened #795 "SQLSTATE[42S02]: Base table or view not found: 1146 Table 'monica_prod.'monica'instances' doesn't exist (SQL: select * from `'monica'instances` limit 1) when trying to start Docker"
I am unable to launch monicahq because of a SQL error (in title). I've also attached a screenshot (below):

![artisan](https://user-images.githubusercontent.com/4621203/34901668-60274fd0-f7db-11e7-81a9-dcd71440005b.png)

Here's the output when I tried to repopulate the database using laravel.  Is there an easy fix for this or should I just give up on MonicaHQ?

/var/www/monica # php artisan migrat

[2018-01-13 08:36] simhnna commented on #782
When i created the issue, I searched for uses for the files and didn't find any. Now I know they are used in the sonarlauncher project.

Why are you doing it this complicated? It looks like you can just call a travis addon with an encrypted token.
https://docs.travis-ci.com/user/sonarcloud/
https://github.com/SonarSource/sq-com_example_standard-sqscanner-travis

[2018-01-13 11:29] asbiin commented on #782
Of course, but this is not working with external Pull Requests.

[2018-01-13 14:01] djaiss commented on #795
It's super weird to see `'monica'instances'` with no quotes or dots between monica and instances. What values do you have in your .env for the database?

[2018-01-13 14:18] kofiav commented on #795
Hi @djaiss, thanks for the quick response.

My .env file contains the following DB information:

[code]
My docker-compose looks like this:

[code]

Finally I removed .env from the .gitignore file as suggested here (https://github.com/monicahq/monica/issues/596#issuecomment-348773514) as I assumed that was causing a problem as well.

[2018-01-13 15:54] #778 closed

[2018-01-13 18:34] tomzx opened #799 "Support editing phone call logs"
As of 85653415dd6927a18b66a6d4e943c4d647af3b6e, it is not possible to edit a phone call notes once the  call has been logged. The only option is to copy the note, create a new phone call log, paste the note, save the phone call log and then delete the previous phone call log.

I think it's reasonable to think that users may want to edit a phone call log if they think about anything afterward, or i

[2018-01-13 18:49] tomzx opened #800 "Remove compiled assets from repository"
Hello,

Is there a reason that compiled assets (`public/css/app.css`, `public/js/app.js`) as well as some fetched assets (`public/fonts/vendor/font-awesome/fontawesome-webfont.svg`,
`public/fonts/vendor/octicons/build/octicons.svg`) part of the repository? As they are either compiled or fetched when you install/update monica, there is no reason those should be part of the repository and they shoul

[2018-01-13 20:01] kofiav commented on #795
Hi @djaiss,

I got the error to go away. It seems like the migrations do not work when the database name is set to anything but `monica`. Also, I am currently running version `1.0.0 `right now. Even with the database set to `monica` the most up to date version `1.6.0` does not work at all using Docker.

It seems to me that there's an issue with the default variable settings in the .env file. To ge

[2018-01-13 21:25] fmcpherson opened #803 "Todos Removed From Dashboard"
Beginning with release 1.5 Todo items no longer appear on the Dashboard, making it harder to track the Todo items. I recommend adding Todos to the box where Calls and Important Notes display on the dashboard.

A feature enhancement could be adding a Tasks section (like you have for Journal) that displays a checklist of all the consolidated Todo items.

[2018-01-13 22:24] #776 closed

[2018-01-14 08:16] erdmenchen commented on #698
Why close? Is the discussion over?

[2018-01-14 12:19] Kovah opened #805 "1.6.0 - Composer install fails"
Unfortunately the upgrade to 1.6.0 breaks the app completely, again.
Running `composer install` after pulling all changes leads to the following error:
[code]
I don't know why Dusk is considered to be loaded in a production environment. This makes absolutely no sense.

Are there any tests that are running before a release?

----

**Update**
Removing `"laravel/dusk": "^2.0",` from the composer.json

[2018-01-14 12:49] asbiin commented on #698
Well, this was closed automatically when I've merged the PR, but the discussion is not really over, yep !

[2018-01-14 16:13] djaiss commented on #805
@Kovah I'm going to remove it because it's not required at all. Sorry about this problem.

[2018-01-14 17:07] djaiss commented on #800
@tomzx technically they are not necessarily compiled if you install Monica, both locally or on a server. They just are if you run `npm run dev` or `npm run prod`. If we remove the compiled assets, we would force people to install node etc... while at the moment, they don't have to if they don't want to.

I think it's simpler that way. Moreover, it's also simpler for me so I don't need to compile t

[2018-01-14 17:08] djaiss commented on #803
Indeed, that's something we've forgotten to include in the redesign. We need to fix that.

[2018-01-14 17:14] #805 closed

[2018-01-14 17:35] #762 closed

[2018-01-14 18:37] #764 closed

[2018-01-14 18:41] tomzx commented on #800
The issue is that the git repository now contains those files and they are large, ~3MB for `app.css` and ~5MB for `app.js`. Now, I'm not complaining about the size in itself, as text is highly compressible, but it's generally a best practice not to commit anything that is generated.

If we want to make it easy for people to run it without requiring `npm`/`yarn`, then a better alternative would be

[2018-01-14 18:43] djaiss commented on #800
I agree that the current state of the repository is not clean. I hate having generated files inside git.

I think we should move forward with removing them from the repository and I would have to compile them on the server after each pull. I just need to figure out how 😀

[2018-01-14 18:48] tomzx commented on #800
Given that you use laravel, you could consider using [envoy](https://laravel.com/docs/5.5/envoy) to script your deployment. Or you could write a php script or a node.js script and call that after `git pull`.

[2018-01-14 23:33] #771 closed

[2018-01-14 23:35] djaiss commented on #800
@tomzx oh that's nice! I thought it was only available to the Envoyer subscribers!
Thanks for the reco, I'll check it out.

[2018-01-15 00:56] djaiss commented on #795
@kofiav ouch sorry about that.

That's weird though. We have many, many Docker instances out there and this is the first time we received this feedback. You are right we should fix the readme as well.

[2018-01-15 01:00] kofiav commented on #795
@djaiss

No worries. I'm looking forward to upgrading to version 1.6.0 and beyond once the bug with the migrations has been fixed.

Even adding a FAQ section addressing some of the common points will help.

[2018-01-15 01:03] djaiss commented on #793
I have updated the Docker images. As I'm still a rookie in this process, could you tell me if it's fine now? Thanks!

[2018-01-15 01:03] #793 closed

[2018-01-15 01:32] djaiss commented on #782
I've cleaned the remaining DS store files.

[2018-01-15 01:32] #782 closed

[2018-01-15 13:34] tlwt opened #817 "version.monica.com stil reporting 1.6.0?"
I am running version 1.6.1 (in docker).

It displays that there is a newer version and suggests 1.6.0 (see screen shot below). I assume that version.monica.com is not updated yet to 1.6.1.

Another fix may be to change the following line so it does not just check for NOT EQUAL but for LARGER.

https://github.com/monicahq/monica/blob/647e8fa4f8ef2fb9242f4ca0834618c26c1da975/resources/views/partials

[2018-01-15 14:36] djaiss commented on #817
As a matter of fact, version.monicahq.com is updated to 1.6.1.
Can you run `php artisan monica:ping` and see if it fixes the problem?

[2018-01-15 14:49] tlwt commented on #817
yes, it does fix the problem.

[2018-01-15 15:04] djaiss commented on #817
Do you know if the cron that should do it every day is setup?

[2018-01-15 15:12] tlwt commented on #817
Would this be run as root? I did not find anything there.

[code]

[2018-01-15 16:10] shibinv commented on #750
I had to change
[code]
to
[code]
in `resources/assets/sass/app.scss`

[2018-01-15 20:54] erdmenchen opened #818 "Manual journal entries are missing an edit option."
Currently (v1.6.1) there is no option to edit a journal entry, for e.g. appending more content after submitting the first draft.

Only workaround currently:
- Copy journal entry content to clipboard
- Delete entry
- Submit edited content from clipboard as new entry

[2018-01-15 20:59] erdmenchen opened #819 "Manual journal entries do not have markdown support."
Since version v0.6.2 - 2017-08-16 there is markdown support for the notes and call logs.
Manually added journal entries are missing this feature.

After all, when I am adding an entry, I also want to somehow style it... markdown is a first step to a more wysiwyg-like editor.

[2018-01-15 21:18] erdmenchen opened #820 "Error: Crash due to validation when adding a new call log"
When adding a call log, and deleting/clearing the timestamp and submitting the call log, Monica crashes with the following error in the log:
[code]
Also it looks like the modal is not reset when aborting/cancelling.

The root cause seems to me like there is no validation at all in https://github.com/monicahq/monica/blob/master/app/Http/Controllers/Contacts/CallsController.php
And no validation han

[2018-01-16 00:33] djaiss opened #821 "Proposal to merge tasks et reminders"
The product, as it currently stands, makes it hard to understand the value of tasks compared to reminders.

When you think about it, a reminder is a task with a due date.

Also, at the moment, you can’t check reminders to indicate that they’ve been processed. Therefore, we don't have a notion of “task is overdue”, which is a really interesting concept in my opinion.

On .com, users barely use task

[2018-01-16 00:58] erdmenchen commented on #821
I dont like the idea of a checkable birthday reminder. I just want to be reminded, no need to mark it as done.

Also I would argue that your argument against the current state of tasks, that it is not an adopted and used feature, does not hold up because the missing part is the ability to mark it as done, like you alredy stated.
This is e.g. also true for birthday presents, I would say. The missin

[2018-01-16 11:28] rubenv opened #822 "RSS feed broken"
This 404s right now: https://www.monicahq.com/feed.xml

Which is sad, I'm missing interesting posts!

[2018-01-17 09:27] asbiin opened #824 "2FA Add recovery codes"
Linked to #164

We should add recovery codes, in case of the user lost his device, or cannot reach it.

[2018-01-17 09:34] asbiin opened #825 "2FA Support U2F devices"
Linked to #164

We should support U2F devices, like Yubikey.
This was suggested by @alrik11es

See https://github.com/Firehed/u2f-php

[2018-01-17 23:22] kerbbles opened #826 "SQLSTATE[42000]: Syntax error or access violation: 1064 on docker start up in rancherOS"
made a fresh host on rancher, connected it to the controller, and then followed instructions via https://github.com/monicahq/monica/blob/master/docs/installation/docker.md
when I run: docker-compose up

mysql seems to load fine, but then monicahq errors as follows

monicahq_1  | Waiting for database to settle
monicahq_1  | docker/test-server.sh
monicahq_1  | Application key [removed] set successfu

[2018-01-18 06:17] samschooler commented on #716
Why not make this a text box in order to allow custom activities? I have a lot of obscure things I want to put down, but will never be used by anyone else.

[2018-01-18 06:48] samschooler opened #827 "Events; and how to handle them"
I came across Monica when I did research for my own product that is similar. I abandoned that project, however would like to contribute a couple features I found to be huge with people that wanted my app.

__Events__
An event can be on a date and a time. It can include people and locked down + confirmed. However you can also have events when you just see a person in passing and say "OH HEY! We sho

[2018-01-18 07:07] samschooler commented on #821
I would vote against merging them completely. They are valuable on their own like @erdmenchen said. However making them more similar, and having code reuse would be a good thing.

My suggestion would be to literally make tasks = reminders (saved in the same table and everything), however they are able to be marked as done. Keep the separate sections, as @erdmenchen said, Birthdays are reminders I

[2018-01-18 10:45] pellibr opened #828 "Feature Request : How did you meet ? : Today : Yesterday : Last Week : Last Month"
Add Easy Buttons on How did you Meet: Today : Yesterday : Last Week : Last Month

![image](https://user-images.githubusercontent.com/7545213/35094234-d612c4d2-fc2b-11e7-91ea-17c795e9c292.png)

[2018-01-18 10:52] pellibr opened #829 "Feature Request : Use "@" to make reference of other contacts"
Use @ to make reference of other contacts related to that person, example:

![image](https://user-images.githubusercontent.com/7545213/35094592-d675ba96-fc2c-11e7-8177-fa8ee056530e.png)

[2018-01-18 11:00] nathyong commented on #826
Can confirm that something identical is happening when I'm trying to interact with the Docker containers as well. Seems to be related to the migration at https://github.com/monicahq/monica/blob/master/database/migrations/2016_12_28_150831_change_title_column.php

I've experimented with different mysql versions but the issue seems to be happening between version 8 and version 5.7.

[2018-01-19 10:09] brpl20 opened #832 "Favorite sport and team"
Here in Brazil is very important to know the favorite sports of the person (usually soccer) and most important, the favorite team.

[2018-01-19 13:10] djaiss commented on #829
Definitely a good idea.

[2018-01-19 15:21] djaiss opened #834 "Help: does someone know how to test a relationship?"
Like
[code]

I have problems finding resources about this and I wonder what are the best practices around it.

https://github.com/monicahq/monica/blob/master/app/Account.php#L54

[2018-01-19 15:23] djaiss commented on #817
I think you have to set it manually.

[2018-01-19 16:27] cedewey commented on #746
I would love to see this. At this point I've entered all of my contacts. Of course, I do meet new people, but that is at a much slower pace than recording activities with existing contacts. So, the primary action I take in Monica is recording an activity. I imagine this is a common situation that others are in as well.

[2018-01-19 16:36] tlwt commented on #817
Even in the dockerized setup?

[2018-01-20 04:46] jwynn6 opened #835 "SSL termination issues"
I have a SSL termination/load balancer/reverse proxy that sits in front of Monica.  When trying to enter data, the site now warns that data may be sent insecurely, upon clicking 'ok' the site reloads and nothing is inserted.

Suggestions?
<img width="478" alt="screen shot 2018-01-19 at 11 45 19 pm" src="https://user-images.githubusercontent.com/6757260/35179942-f6a69636-fd72-11e7-8121-db746c344788

[2018-01-20 06:10] degan6 commented on #835
Interesting, looks like your on a mac but let's start with some other questions.
What browser are you using?
Do you connect to your reserver proxy over https?

[2018-01-20 09:07] degan6 opened #836 "Link to Full Size Profile Picture"
When clicking on avatar image, link to full size image. Maybe in a new tab?

[2018-01-20 12:17] pkoziol opened #837 "ReferenceError: appendResults is not defined when there are no search results"
When search cannot find relevant contacts browser's JavaScript console logs error:

Encountered today on app.monicahq.com (version: 1.6.1).

[2018-01-20 14:21] djaiss opened #838 "Import from vCard code problem"
This line (https://github.com/monicahq/monica/blob/361bd76445b4cdea24e075d1d5f2b0b5d50bb767/app/Jobs/AddContactFromVCard.php#L124) can't work.

[code]

A contact field type is linked to an account and here we are looking at the first email field no matter what the `account_id` is. This is what might cause errors during import. We need to fix this.

[2018-01-20 14:24] erdmenchen commented on #834
What are you missing here? Can you provide more details?

[2018-01-20 14:58] t-rascal commented on #835
Hello, I am experiencing a similar issue and believe it is related to the closed issue #479.

I am receiving a warning about an insecure form submission when trying to add a significant other to a contact, and clicking submit then leads to the "Whoops, something went wrong" screen.

According to issue #479 it's due to use of HTTP calls... The noted work around is to enable HTTPS in the docker cont

[2018-01-20 20:32] erdmenchen commented on #836
This only works if there are big enough profiles available...

[2018-01-20 21:43] erdmenchen commented on #832
Why not just add a note to that person?

[2018-01-20 22:20] jwynn6 commented on #835
I was on a Mac. I get the same result mobile or on Linux too. Firefox and Chrome.

Browser ----(https)--- nginx proxy ---- (http)--- Monica

Hope that diagram helps.

On January 19, 2018 10:10:41 PM PST, degan6 <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-01-21 13:15] rickpastoor opened #839 "Birthday of someone who's birthday is today is not shown on the dashboard"
I have a contact who's birthday is today, but it is not shown, while others (further in the future) are shown. I think it is useful to see who's birthdays I actually have to do something about -- today ;)

[2018-01-22 03:42] #838 closed

[2018-01-22 12:12] t-rascal commented on #835
Today I experimented by changing the reverse proxy setup as follows:

Browser -----(http) --- nginx proxy ---- (http) --- Monica.

Result: adding significant others and other such form submissions work as expected.

Would still like to resolve the HTTPS issue properly though.

[2018-01-22 15:01] turtles2 commented on #834
I am just spit balling here but could we generate some some entries for it. Then test to see if the model has them?

[2018-01-22 19:14] djaiss commented on #834
In all the models in Laravel, you define the relationships `belongsTo`, `hasMany`, etc… through methods.

The code coverage reports indicates (rightfully) that these methods are not tested.

@erdmenchen I was wondering if we should test those relationships and how we could test them.

I have the feeling we should test them, to make sure that if someone changes a relationship, we can see it immedia

[2018-01-23 04:21] djaiss commented on #822
It's finally there again 😀

https://www.monicahq.com/feed

[2018-01-23 04:21] #822 closed

[2018-01-23 06:56] rubenv commented on #822
@djaiss Thanks, keep up the awesome work!

[2018-01-23 18:09] turtles2 commented on #834
@djaiss How about this package it seems to make it super easy. [laravel-relationship-test](https://github.com/fs-ap/laravel-relationship-test)

[2018-01-24 03:34] djaiss commented on #834
@turtles2 just tested it, it doesn't work. The package is a bit old and doesn't seem to have any activity.

[2018-01-24 04:45] rydurham commented on #834
One way to test an eloquent relationship might look like this:

[code]

You can also use the [`is()`](https://github.com/laravel/framework/blob/5.5/src/Illuminate/Database/Eloquent/Model.php#L1071) method like so:

[code]

Would that be feasible?

There are some better ways to make assertions against collections, but I can't remember them off the top of my head.

It is also worth thinking about ho

[2018-01-24 12:52] djaiss commented on #834
I don't want to test if the `hasMany` method is working, but I want to make sure that if someone change a `belongsTo` relationship to `haMany`, there will be an alarm somewhere.

I believe that all the other tests should catch this problem, but would it 100% of the time? This is where I lack experience in unit testing specifically.

For now I've tried

[code]

and it seems to work fine. For `hasMa

[2018-01-25 09:18] ghewgill opened #852 "Add 'countries' database table to export dump"
When using the Export function to export a `monica.sql` file, the `countries` database table is not included. I know this isn't strictly required if the database dump file is only used for importing into another Monica instance, but there are other ways one might want to process an export file.

[2018-01-25 19:12] #733 closed

[2018-01-26 02:39] fmcpherson commented on #821
I agree with merging. May I also ask if it is possible for documentation on how to set up Reminders when one does their own installation? It looks like you need to set the configuration for an SMTP server and I need to figure out how to find such a server.

[2018-01-26 14:45] erdmenchen opened #857 "Editing a gift results in message "people.gifts_update_success" (v1.6.2)"
After editing a gift the message "people.gifts_update_success" is shown instead of the real message.

[2018-01-27 12:24] Gaibhne commented on #91
I would like to bring up an aspect that is less obvious about an app: I don't care enough to use an app as a client (because I sit at my PC all day anyways), but I would very much like for an app to push data - both generic contact data like phone numbers and such, but mostly activity data: when did I last call person X, when did I last chat with friend Y, that kind of thing.

Having a rooted Andr

[2018-01-27 13:05] asbiin commented on #697
As we use SonarCloud, which does the same job as CodeClimate, we could close this issue.

[2018-01-27 15:30] djaiss commented on #91
@Gaibhne thanks! In my opinion you should be able to have the exact same experience on mobile and on desktop. There is two types of population and I think we should serve both, in the same manner.  Moving forward, everything we'll add to mobile we'll be able to the desktop, and vice versa (at least all the features that make sense).

That being said, the mobile app is written in React Native, and

[2018-01-27 17:02] fmcpherson opened #860 "How do I configure & test email for reminders"
I am trying to configure my install of Monica to send me reminders. I have obtained credentials for AWS SES and I believe I have my .env file configured correctly. However, there are a couple of things I am uncertain about. Is there any specific expectation for MAIL_PORT? What are the expected options for MAIL_ENCRYPTION? I have just changed it to yes.

My biggest issue is how to test my configura

[2018-01-27 20:02] djaiss commented on #860
@fmcpherson the way to test your notifications is to set a reminder with the date of the day, then run `php artisan monica:sendnotifications` in your terminal.

This will try to send the email using your credentials.

The Amazon SES driver requires a special treatment. You can [read more on the official Laravel documentation](https://laravel.com/docs/5.5/mail), but basically you need to install a

[2018-01-27 20:03] djaiss commented on #860
Also, if you still have problems after having tried the thing above, put `APP_DEBUG=true` in your `.env` file and try again in your browser. This will display the logs so we can help debug.

[2018-01-27 20:05] djaiss opened #862 "Error when doing a composer update"
This is because we are pulling from a private repository hosted on Github.

We should move this package to [Packagist](packagist.org), I think.

This affects all the installations that are out there.

[code]

[2018-01-27 20:06] fmcpherson commented on #860
Have to think about this given I am using the Docker containers rather than
the straight install.
On Sat, Jan 27, 2018 at 3:03 PM Régis Freyd <notifications@github.com>
wrote:

--

Frank McPherson
frank.mcpherson@gmail.com
frankmcpherson.com

[2018-01-27 20:07] fmcpherson commented on #860
I should ask, do you suggest an alternative to SES that is known to work?

On Sat, Jan 27, 2018 at 3:03 PM Régis Freyd <notifications@github.com>
wrote:

--

Frank McPherson
frank.mcpherson@gmail.com
frankmcpherson.com

[2018-01-27 21:04] erdmenchen commented on #862
This is a fork by @asbiin from the real project: pragmarx/google2fa-laravel

It is already availabe on packagist:
composer require pragmarx/google2fa-laravel

[2018-01-27 21:21] tomzx commented on #862
This error only has to do with the fact that you fetched a large number of git repositories lately and so github is throttling you, asking you to provide an authentication token to bypass this limitation on your computer.

[2018-01-27 23:08] fmcpherson commented on #860
I've got it working using SES as an SMTP endpoint. I am going to write up a How-To for this, if you create a How-To folder under docs, I will contribute upon completion.

[2018-01-28 01:18] asbiin commented on #862
I've already created a PR to the project: https://github.com/antonioribeiro/google2fa-laravel/pull/18
This is not a real problem : just add then github token as asked and it works.

[2018-01-28 14:06] #697 closed

[2018-01-28 17:12] Vici37 commented on #687
I was able to get past this error by changing `2017_11_10_204035_delete_contact_fields_from_contacts.php`

[code]

[2018-01-28 20:08] djaiss commented on #860
@fmcpherson great!

I use https://postmarkapp.com/ on .com personally. Locally I'm using the default SMTP server in Homestead.

If you could write up an How to about this, that would be awesome. Feel free to add a paragraph at the bottom of https://github.com/monicahq/monica/blob/master/docs/installation/generic.md.

[2018-01-28 20:08] #860 closed

[2018-01-29 03:10] djaiss commented on #269
The ability to mark a gift as offered is now live.

[2018-01-29 03:10] #269 closed

[2018-01-29 03:10] djaiss commented on #328
The ability to mark a gift as offered is now live.

[2018-01-29 03:10] #328 closed

[2018-01-30 02:12] Vici37 commented on #705
Also getting `Postdeploy execution timed out` error, also provides the tail of the output:

[code]

It looks like it's timing out at the terminal setup prompt?

[2018-01-30 16:58] tbirrell opened #868 "Self install migrations missing tables"
I am working on setting up my own instance and the SQL dump I got from app.monicahq has tables that the laravel migrations did not create, along with column in existing tables that apparently don't exist anymore. I think a few of the columns got renamed, especially in the `contacts` table, but I'm not sure. I'm also not sure if this is the full scope of the issue since I have not used all the feat

[2018-01-30 17:02] #868 closed

[2018-01-31 22:48] djaiss opened #870 "Add ability to send emails to Monica and associate it with a contact"
Also called inbound email processing.

We forward an email to Monica and it automatically saves it to the sender's contact entry on the server.

[2018-01-31 23:14] #750 closed

[2018-02-01 07:25] asbiin opened #872 "Ugly config"
in config/sentry.php:
[code]
This is ugly. We don't want to publish .git directory in production, but this line is executed each time "php artisan" is called.
Is this still needed ?

[2018-02-01 20:33] asbiin commented on #826
Same here.
This is a mysql log when trying to run docker, with an external mysql base.
[mysql.log](https://github.com/monicahq/monica/files/1687110/mysql.log)

See the very first statements:
[code]
=> All table are created whith two single quote preprend.
I'm investigating for this issue. If anyone has an idea ?

[2018-02-02 01:55] dancyfits commented on #368
Oops, just realized this was still open.  Can confirm; could give money.  Although I'm probably gonna switch to self hosted + patreon.  Keep up the good work!

[2018-02-02 01:55] #368 closed

[2018-02-02 06:20] asbiin commented on #826
Found it !
It because of `DB_PREFIX=''` in .env, for any reason, docker set the variable to "''", and not to an empty string.

[2018-02-02 06:24] asbiin commented on #795
This could be linked to issue #826.
Try to set `DB_PREFIX=` or `DB_PREFIX=monica` (whithout quotes)

[2018-02-02 06:26] asbiin commented on #754
It's a good idead.
@djaiss do you need help for this ?

[2018-02-02 06:29] #723 closed

[2018-02-02 06:36] asbiin commented on #470
@coonce is right, docker tags is not linked to git tags, you don't need it.
I think this issue could be closed..

[2018-02-02 06:42] #354 closed

[2018-02-02 06:44] asbiin opened #874 "Docker image: don't run init each time"
In docker/test-server.php:
[code]
This should not be run each time image is run.

[2018-02-02 06:47] asbiin opened #875 "Docker image: Run real cron tasks"
In docker/test-server.php:
[code]
We should try to run cron tasks otherwise.

[2018-02-02 07:37] #826 closed

[2018-02-02 13:00] djaiss commented on #872
@asbiin this is what allows Sentry to catch the error and tell which version of the code was it running against.
But we don't need it at all since production runs the latest version all the time.
So we can either remove the line or make it blank. Perhaps making it blank is better as I don't know how sentry would handle a missing config parameter.

[2018-02-02 13:25] djaiss commented on #470
@asbiin thansks!

[2018-02-02 13:25] #470 closed

[2018-02-02 13:28] djaiss commented on #754
@asbiin a few days ago I created https://gist.github.com/djaiss/4a0f866952bdce1146335fbcd4537fbd

And yes if you want to move forward with this issue, be my guest 😀

[2018-02-02 13:39] djaiss commented on #368
@dancyfits thanks and have fun :-D

[2018-02-02 13:42] djaiss commented on #705
@Vici37 ohhh it's true I haven't tested this with the new way of setting up Monica on Heroku. We should take a look at this and probably do a special command line for Heroku to prevent asking questions during setup.

[2018-02-02 14:10] Phrohdoh commented on #354
Why was this closed?

[2018-02-02 14:51] kofiav commented on #795
@asbiin thanks for the note. I will try your suggestion out to see if it will fix my problem.

[2018-02-02 17:12] kerbbles commented on #826
setting DB_PREFIX to <nothing> did work for me!  Thank you!

[2018-02-02 19:29] asbiin commented on #795
@kofiav perfect, thank you for the feedback.

[2018-02-02 19:29] #795 closed

[2018-02-02 19:31] asbiin commented on #354
@Phrohdoh sorry, but the code might have changed because this route is never used anywhere.

[2018-02-02 20:49] tomzx commented on #872
This would be a good candidate for a build/deploy-time variable. After the git repository has been updated on the production machine, run the `git log ...` command once in order to obtain the value and put it in the `.env` file for instance.

[2018-02-03 10:49] asbiin commented on #857
Indeed, the message is missing. Thanks @erdmenchen !

[2018-02-03 11:35] #857 closed

[2018-02-03 17:30] Nebucatnetzer commented on #679
I installed version 1.6.2 today and the notes are working again. Just for the record.

[2018-02-05 21:10] TacoRocket opened #886 "Docker Container Issue"
Following the instructions on the docker setup leads to an error with Monica not being able to find the mysql container. May not be code but the documentation might need to be fleshed out to help new users install the application.

Maybe provide an option where Monica uses SQLite for those who want no frills getting up and started? Then provide advanced users the option to connect to an external m

[2018-02-05 21:25] asbiin commented on #872
What do you think of:
[code]

[2018-02-07 00:41] vk3il opened #887 "Bug with recording dates for activities, calls etc"
I've just started using Monica and came across what appears to be a bug. When I record a call or note, the date automatically assigned to it is yesterday, not today. I suspect this may be time zone related as I'm in Melbourne/Australia (UTC+11). Does the code use UTC or some other timezone for recording the date?

Also, it would be useful to be able to edit these dates so that I can record calls i

[2018-02-09 18:32] tbirrell commented on #792
I also have experienced this. On the iPhone SE it doesn't try to do two columns, but it is still very broken.

[2018-02-11 10:50] karibuTW commented on #576
I had the same error.
I've installed PHP7.2 directly. Works well.

Not sure what should be the recommended installation steps.

But I've built my own and did an article on it:
https://freedif.org/monica-organize-your-social-life/

Thanks a lot for this great tool. Looking forward to the Android app ;)

[2018-02-13 08:40] CooperBarrett opened #893 "Size limit import contact"
Hello,

_Sorry, I'm using a translator_

My vcf file makes that 10mo (15), is there a way to increase the size limit ?

Thank you

[2018-02-13 08:58] abizer commented on #886
What error, exactly, are you getting?

[2018-02-14 16:08] danielbachhuber opened #897 "Gravatar support"
As a Monica user, it's helpful to see people's faces as a reminder of who they are. However, manually uploading avatar images for each contact can be pretty tedious.

Instead, it would be helpful if Monica supported [Gravatar](https://en.gravatar.com/). If I enter an email address for my contact, then Monica could use the Gravatar image until I upload some override.

Somewhat related #715

[2018-02-15 00:42] lordhippo93 opened #899 "error when running in "production" mode"
it was running fine, then i went to update and it started throwing errors about "dusk" something. ("dusk" is something new for this update right?)
"It is unsafe to run Dusk in production."

so turned of "production" mode, and the update went fine. turned it back on again because for me it solves the "SSL behind proxy" stuff. and back comes the errors... so i turn on debug mode and find the error,

[2018-02-15 00:47] djaiss commented on #899
Dusk is a front end testing framework that should never, ever run in production.
I've noticed that in some setup, composer doesn't work when Dusk is in composer.json (even in the `require-dev` section).

One workaround is to run `composer update --no-dev` instead of `composer update`.

@asbiin do you have errors when you do a `composer` now? I do in Fortrabbit and I think I'll have the same issue

[2018-02-15 00:49] djaiss commented on #897
@danielbachhuber as a matter of fact it used to support Gravatar.

But, hum, I just noticed I *cough* broke *cough* it a few weeks ago. We should bring it back.

[2018-02-15 12:50] asbiin commented on #899
@djaiss  what is your error output ? Tests on travis are currently running `composer install --no-dev` and `composer install` without any issue.

[2018-02-15 22:46] asbiin commented on #705
I have found a workaround to create a default user (admin@admin.com / admin) with setup:production.

But another error is happening:
[heroku.log](https://github.com/monicahq/monica/files/1729637/heroku.log)
This is linked to #781

[2018-02-15 22:49] asbiin commented on #687
Migrations with postgres was fixed with #785.
I will not close this issue because (a lot of) other errors happens with Postgres right now ...

[2018-02-15 22:51] asbiin commented on #137
Migrations with postgres was fixed with #785.
I will not close this issue because (a lot of) other errors happens with Postgres right now ...

[2018-02-15 22:51] asbiin commented on #687
This one is a duplicate of #137

[2018-02-15 22:52] #687 closed

[2018-02-15 23:10] asbiin opened #902 "Open register page after a clean installation"
After a clean installation, if no account has been created, we should open the /register page, even if APP_DISABLE_SIGNUP is set to true.
That makes the ability to setup the environnement database without creating a new account, and let the user create his first account by using the real form.

This should be usefull for docker / heroku / any closed environnement.

[2018-02-16 07:28] #705 closed

[2018-02-16 12:31] djaiss opened #905 "Error on account deletion when account has a subscription"
The error is because we delete the account and then delete the subscription. It should be the other way around.

https://sentry.io/monica-lv/production-app/issues/465303713/

[code]

[2018-02-16 16:25] beaucarnes commented on #663
I'm having this same issue. I just tried to deploy from Heroku today. @djaiss said it was fixed but I wonder if it broke again?

[2018-02-16 20:46] asbiin commented on #663
@beaucarnes what is your issue ? It should be fixed now, after I've merged #901. Did you pull out from master branch ?

[2018-02-16 21:15] beaucarnes commented on #663
I just tried deploying to Heroku again using this link: [https://heroku.com/deploy?template=https://github.com/monicahq/monica/tree/master](https://heroku.com/deploy?template=https://github.com/monicahq/monica/tree/master). I'm getting the same error. When I try to navigate to the site I get an Internal Server Error.

Any ideas? Here is the end of my logs on Heroku:
[code]

[2018-02-16 22:58] asbiin commented on #663
The error
[code]
is linked to #872, it can be ignored.

You get an error 500 .. that's strange.

[2018-02-18 06:21] colinfrei commented on #362
I just started playing around with Monica as well, and this was the first thing I noticed - I call my friends by nicknames, but would love to save that along with the firstname.

@tylerrobb's suggestion regarding display seems like a good choice.

[2018-02-18 20:55] mattdp commented on #658
@djaiss any chance of including this in a near future release? Are there other active developers helping who I should ping instead? Let me know what would be best!

[2018-02-19 17:06] asbiin commented on #493
I propose another solution with #902

[2018-02-19 17:09] asbiin commented on #698
The (merged) PR #892 activated tests with Dusk.

[2018-02-19 17:31] asbiin commented on #886
Unfortunatly sqlite is not supported yet. See #911.
What is your error ?

I've updated the docs (see #903). Don't hesitate to comment if it's not clear.

[2018-02-19 17:40] asbiin commented on #645
This issue might be related to a filesystem problem.

[2018-02-19 17:40] #645 closed

[2018-02-19 17:41] #635 closed

[2018-02-19 17:49] asbiin commented on #589
Linked to #872, but it's just a warning message, app is running well.

[2018-02-19 17:49] #589 closed

[2018-02-19 17:52] asbiin commented on #549
Not reproductible ?

[2018-02-19 17:52] #549 closed

[2018-02-19 17:56] asbiin commented on #474
Doc is pretty clear now ?

[2018-02-19 18:00] asbiin commented on #410
I think you've already fixed this @djaiss ?

[2018-02-19 18:14] asbiin commented on #298
Where do you want to list this ? A file on github, a page on monicahq.com, something else ?

[2018-02-19 19:11] asbiin commented on #204
Well done.

[2018-02-19 19:11] #204 closed

[2018-02-19 20:49] djaiss commented on #331
Indeed

[2018-02-19 20:49] #331 closed

[2018-02-20 03:34] djaiss commented on #298
@asbiin I think it should live in the docs folder, with a link pointing to it in `readme.md` saying we want to thank those libraries.

[2018-02-20 03:34] djaiss commented on #410
@asbiin we did indeed!

[2018-02-20 03:34] #410 closed

[2018-02-20 03:34] djaiss commented on #474
Yes, let's close it.

[2018-02-20 03:34] #474 closed

[2018-02-20 03:36] djaiss commented on #698
So yes, we've migrated to Dusk outside a VM, we run it on Sauce Labs and for now, things are working. We should see if we encounter cases where Dusk is not appropriate again.

[2018-02-20 03:37] djaiss commented on #493
We've addressed this with #694 as mentioned, so this issue in itself can be closed.

[2018-02-20 03:37] #493 closed

[2018-02-20 03:38] djaiss commented on #362
Alright let's do this.

[2018-02-20 11:41] asbiin commented on #872
@tomzx problem is when running the `git log` command ?
On heroku for instance, composer is running on a not git repository. The log command must be run with `git clone`, but we do not have the hand on it ...

[2018-02-20 14:33] djaiss opened #917 "Add other ways to log communication with a contact"
Feature request from a user:

We should keep track of non-phone communications.
Right now I just put them under “Phone calls” with a little tag like

EMAIL: talked to him about event

But I’m thinking maybe “Phone Log” can be “Communication” and then you could select from

* Phone Call
* SMS
* Email
* Meeting

[2018-02-20 18:57] tomzx commented on #872
@asbiin My main concern is having an `exec` call on every page load. Correct me if I'm mistaken, but laravel will load all the configuration files on each page load, and thus will execute the command every time.

[2018-02-21 03:42] grand-lotus-iroh commented on #897
+1 for gravatar support

[2018-02-21 03:42] grand-lotus-iroh opened #920 "feature request: white labeled domain"
would be neat to add support for CNAME record so i can use custom domain.

[2018-02-21 14:28] djaiss opened #921 "Wrong key used in Add contact screen"
![image](https://user-images.githubusercontent.com/61099/36485201-947913a4-16e9-11e8-8878-8ff6b6f2075b.png)

[2018-02-21 14:31] djaiss opened #922 "Resetting an account deletes default contact field types"
Feedback from user:

When I reset my account, it deleted all of the personalization fields.  This was a bit of a surprise.  I would have either expected it to retain the existing fields, or reset to the default fields.  Instead it was impossible to add any new contacts since the default gender options were not there.

[2018-02-22 02:40] djaiss commented on #658
@mattdp I've started to implement this feature https://github.com/monicahq/monica/pull/924 so you can follow the progress.

[2018-02-22 11:46] anaufalm opened #925 "Translate readme.md into Indonesian (ID)"
I want to translate readme.md file into Indonesian to make to ease the user in understanding the file readme.md. Can I?

[2018-02-22 21:27] #875 closed

[2018-02-22 22:18] lassiter commented on #799
I second this issue, @djaiss. I just created an account for Monica and tried to edit a log and ended up here to create this ticket. I also did exactly @tomzx did before getting here; I don't like doing that.

I'm not familiar with your stack or codebase, mainly learning/working in a react/rails stacks; however, if you (@djaiss) can provide some direction I'd be willing to take a crack at it on my

[2018-02-24 15:40] djaiss opened #929 "Brainstorm: export account data"
Right now it's possible to export your account's data in SQL. That way you can take your data and use them on a server you own.

However, this is rather technical. We should be able to export in another, more user-friendly format.

The problem with this: which format? A contact have a lot of different kind of data, and I can't just put everything in one gigantic CSV for instance.

We could have on

[2018-02-24 23:04] djaiss commented on #658
@mattdp the API calls are now in production (but not yet in the Docker image).

Documentation is here: https://www.monicahq.com/api/tags#associate-a-tag-to-a-contact

Let me know if it suits your needs.

[2018-02-24 23:04] #658 closed

[2018-02-25 07:35] rtpg commented on #803
@djaiss have you started working on this. I was looking at maybe adding non-completed tasks into the dashboard log?

[2018-02-25 14:08] asbiin commented on #929
Good idea. SQL is not a user friendly model.
JSON or XML is the best way to do this. We could have a model for this export data and use the same model for the API ?

[2018-02-25 20:53] degan6 opened #931 "Get Users by Tag In API"
It would be awesome to add a way to get users of a tag through the API.

[2018-02-25 20:54] degan6 opened #932 "Search Contact Field in API"
It would be great if we could add a way to select a contact field and search for a match in that field with any contact.

I want to use the API as a contact look when someone calls my voip phone but i need a way to check if their phone number is in Monica through the API.

[2018-02-26 02:28] djaiss commented on #925
@anaufalm yes, you can now 😀Can you try to use the wiki for that?

[2018-02-26 03:00] djaiss commented on #252
And after a few months, we can now easily translate Monica with Crowdin.

https://crowdin.com/project/monicahq

[2018-02-26 03:00] #252 closed

[2018-02-26 03:00] djaiss commented on #695
https://crowdin.com/project/monicahq

We now use Crowdin to help us in that regard.

[2018-02-26 03:00] #695 closed

[2018-02-26 09:16] tlwt commented on #839
Fully agree on that and I think this can be merged with #740

[2018-02-26 09:30] yarons commented on #252
I'm sorry but I really don't understand why do open source project select a limited closed source platform, that's totally against the spirit of the project itself.

[2018-02-26 09:55] waldyrious commented on #252
@yarons for what my opinion's worth, the way I see it, if Crowdin are offering a service to open source projects for free, and the tool works well (which IMHO as a volunteer translator it does), then it would only be harmful for a FOSS project to refrain from using it out of principle alone.

Of course, it would be a different story if somehow the platform required a lot of maintenance, or forced

[2018-02-26 11:17] yarons commented on #252
@waldyrious
There are several open source projects that provide such hosting for free (Weblate, TranslateWiki, etc.) and these are pretty good products (Some would say they are even slightly superior to the closed source products), so back to the original question, why choosing closed source over an open source when both options are on the table? (As I mentioned, zero maintenance in both).

[2018-02-26 12:49] djaiss commented on #252
I think this is unrelated.

Should I use Gitlab to host the code and not Github then? Should I use Jenkins and not Travis? Should I use my own Selenium server and not Sauce Labs? And the list goes on.

The choice of Crowdin has been made after a study of approximately 2 minutes. It was just a matter of practicality. I needed a tool, quickly, and I saw this tool that seemed to be popular and offere

[2018-02-26 13:05] yarons commented on #252
@djaiss Well, that depends, you want to be as Open Source friendly as possible without intimidating your community with monstrous systems, that's from the contributor's side, so in that case these are all great tools, if you feel that you're not compromising usability over openness it should be fine.

In terms of owning your data: no, and most projects don't but what about having the ability to us

[2018-02-26 14:02] djaiss commented on #252
You bring excellent points, and thanks for the conversation. I'm going to review Weblate in detail to make sure it does the one thing I want it to do well: checking new or deleted strings in the English file and adding or deleting those new strings in the other locales, while making automatic pull requests when a modification is done in the translation system.

I don't think you should start quest

[2018-02-26 23:30] asbiin commented on #899
Everything is fine on travis

[2018-02-26 23:30] #899 closed

[2018-02-27 09:20] waldyrious commented on #252
@yarons I'm really curious as to whether you can vouch for that yourself or point to people who can. I've been (on-and-off) contributing volunteer translations to various projects for many years now, and while I certainly agree that many of the FOSS offerings are quite competent and even innovative in some specific tasks, I can say with enough confidence that, in terms of overall workflow smoothne

[2018-02-27 10:43] yarons commented on #252
@djaiss I did not intend to hurt anyone, I was just showing a possible way of thought, I didnt' expect an answer and I'm sorry if it came out too strong, that wasn't my goal.

@waldyrious Would you say that Weblate is less fluent than Crowdin?
That's completely subjective BTW so I don't really think there's a way to actually compare between them in terms of statistics.

[2018-02-27 16:22] djaiss commented on #600
This is done.

[2018-02-27 16:22] #600 closed

[2018-02-28 15:52] fmcpherson opened #946 "Add LetsEncrypt SSL Support To Docker Image"
The Monica Docker image as it currently exists does not appear to support SSL. Recommend adding LetsEncrypt support to the Docker image, you will find several examples of adding SSL to Apache running in a container on Docker Hub.

[2018-02-28 18:56] tlvince opened #947 "[docker] sh: git: not found on php artisan calls"
On the latest Docker image (v1.8.0), any calls to `php artisan` return `sh: git: not found`, but do seem to exit successfully. For example, on startup:

[code]

Or in shell:

[code]

Probably `git` needs adding to the Docker image?

[2018-02-28 23:23] asbiin commented on #947
No, git is not needed.
The message is related to #872, but it's not an error.
Adding git will not be usefull as the .git directory is no longer part of docker image.

[2018-03-01 09:05] #872 closed

[2018-03-01 11:43] asbiin commented on #754
@djaiss I've updated the CLA here : https://gist.github.com/asbiin/a19e73d006343e79663770ed52d9f7a4

[2018-03-01 12:12] bwboy opened #953 "What's the language zh representative？simplified Chinese？"
I found there is a zh folder in lang,and same as en now .Is this folder prepare for simplified Chinese？

[2018-03-01 14:08] djaiss commented on #953
@bwboy yes, this stands for simplified chinese.

However if you want to translate, you have to use https://crowdin.com/project/monicahq 😀

[2018-03-01 14:57] tlvince commented on #947
Closed by #950.

[2018-03-01 15:44] asbiin commented on #754
OK, the CLA is here:
https://gist.github.com/djaiss/509567279c01359fa0f427c2578a1bb6
It's on place with https://cla-assistant.io/ thanks @Phrohdoh

[2018-03-01 15:44] #754 closed

[2018-03-02 01:32] bwboy commented on #953
Ok，I will try to translate it   😀

[2018-03-02 01:44] djaiss commented on #740
Duplicate of #839

[2018-03-02 01:44] #740 closed

[2018-03-02 01:45] djaiss commented on #839
Feedback from user:

One thing i've noticed is that my dashboard only shows upcoming reminders and not current ones (i.e. reminders for today)

[2018-03-02 01:50] #922 closed

[2018-03-02 01:52] djaiss commented on #839
I have hard time reproducing this bug. The thing is, the dashboard lists all reminders in the current month (regardless of the day we are in the current month).

Do you have any other details?

[2018-03-02 01:53] #834 closed

[2018-03-02 01:53] djaiss commented on #817
Do you still encounter the problem?

[2018-03-02 07:34] tlwt commented on #817
No - looks good to me

[2018-03-02 07:34] #817 closed

[2018-03-02 08:42] asbiin opened #958 "Add a setting to change the first day of the week"
Sunday is not always the first day of the week, it depends on the locale.

This will be usefull in
- a calendar
- setting a birthday date for a contact, which uses vuejs-datepicker component, see https://github.com/charliekassel/vuejs-datepicker

[2018-03-02 12:01] jonasvp opened #959 "Call logs hide list bullets"
I'm on the hosted version and usually add markdown bullet lists to my call logs, such as:

    - item1
    - item2

However, the CSS style removes all list styling, so they appear without bullets - which makes the logs hard to read.

[2018-03-02 12:04] #897 closed

[2018-03-02 12:11] asbiin opened #960 "Harmonize style in contact page"
Style of these component are not the same:
![image](https://user-images.githubusercontent.com/25419741/36898428-1b795020-1e1b-11e8-86be-acf9befd0c38.png)

Differences are:
- p.sidebar-box-title strong
- div.dtc h3.f6 ttu normal

[2018-03-02 12:39] djaiss commented on #817
Thank you!

[2018-03-02 12:41] djaiss commented on #960
Yep definitely. A lot of screens are not consistent.

[2018-03-02 12:42] djaiss commented on #953
@bwboy thank you very much 😀

[2018-03-02 16:35] #921 closed

[2018-03-03 00:40] Ali1 commented on #19
Hello. Just discovered Monica, great just what I've been looking for for a while! First thing I've noticed is Spouse and Children Relationships. Any effort to create a more robust relationships model is a +1 from me.

In my head, would be great if we can create more relationships. And smarter relationships where after linking two contacts, further links are suggested. Perhaps a comprehensive confi

[2018-03-03 09:20] superbilk commented on #946
It's not a fix, but I use https://github.com/SteveLTN/https-portal
So I just have one container for securing all my other containers and don't have to wiggle with many configurations etc

[2018-03-03 14:07] djaiss commented on #19
After the mobile app, this feature is the next big thing I should do (or one of the next big things). The reason I haven't implemented it so far is the fact that this is really complex and that I want to make it right.

I think Monica should reflect reality.

- Monica could have default values (spouse, children, parents, brother/sister, uncle and all the kind of relationships that are family relat

[2018-03-03 14:50] #959 closed

[2018-03-03 18:57] jonasvp commented on #959
Thanks for the quick merge!

[2018-03-03 23:46] djaiss commented on #959
Thanks for your help!

[2018-03-04 12:01] asbiin commented on #947
version 1.8.1 fixed this

[2018-03-04 12:01] #947 closed

[2018-03-05 12:35] barryvdh opened #975 "Business modules"
Your Strategy includes:

Do you have something in mind for modules already? Eg. I was thinking about business modules (add Companies, where contacts are part of, perhaps simple projects for those companies).

Not sure if that would be useful to include as modules or that it would be easier just to fork Monica.

[2018-03-05 15:33] djaiss commented on #975
This is the kind of feature for which I would need the help of the community, as I wouldn't know how to start with the notion of modules (I've never done it). This issue could be a good starting point for the discussion - especially considering the major impact on the product as a whole. The only point, even if we decided to allow custom modules, is that we are months away from having it - so if y

[2018-03-05 15:34] djaiss opened #976 "iCloud contact integration"
This is a feature request from one of our users.

[2018-03-05 18:26] johnriley opened #977 "Change Email "From" Attribute"
All emails appear they are personally from Regis... How about making it Monica HQ versus Regis.

[2018-03-05 18:31] johnriley opened #978 "Improve Reminder Functionality"
In most cases, I pop friends notes "day of" on their birthday. Could reminder functionality be made more granular?

[2018-03-05 19:04] johnriley opened #979 "2FA Backup"
It appears there is no way to recover your account if you lose your 2FA. Could you provide text or backup codes?

[2018-03-05 19:21] johnriley commented on #824
+1 on this.

[2018-03-05 19:21] johnriley commented on #979
Duplicate.

[2018-03-05 19:21] #979 closed

[2018-03-05 19:24] barryvdh commented on #975
For business-y usage, I could imagine that companies are also Contacts, but perhaps with a custom scope (eg. type = personal, company or ..), to re-use the same logic. And a relationship (company -> employees) could be used the connect the companies with company employees.

For the module architecture it would be a bit dependant on if you want to allow external composer package to add things, or t

[2018-03-05 21:02] barryvdh commented on #563
Like this? https://github.com/monicahq/monica/pull/980

[2018-03-05 21:07] barryvdh opened #981 "Standardise phonenumber format"
Right now, when importing, all phonenumbers are in original format.
Would it be better to format them to the same format? This would make it easier to add searching by phonenumber etc.

For example using: https://github.com/giggsey/libphonenumber-for-php and format all to international formatting, based on the preferred country when not available.

[2018-03-05 21:14] johnriley opened #982 "Order journal by post date not edit date"
Currently, journal posts are ordered by edit date. Can it be ordered by post date? As I've put in back dated content on contacts, it has gummed up my journal.

[2018-03-05 22:42] fmcpherson commented on #946
Are you using the Automatic Container discovery as described in the https-portal repo? Did you edit the docker-compose.yml that is in the monica repository? I am interested in testing the https-portal container out and thinking about how that works.

[2018-03-06 19:05] #862 closed

[2018-03-06 23:15] catatonik commented on #137
While following the [Installing-Monica-on-Debian](https://github.com/monicahq/monica/wiki/Installing-Monica-on-Debian) guide, but replacing mysql with postgresql, the installation fails at step 7.7 running: `php artisan setup:production`

The error messages while running this command are:

Versions:
monica version: 1.8.1
php version: PHP 7.0.27-0+deb9u1
postgresql version: psql (PostgreSQL) 10.3 (

[2018-03-08 01:12] HHousen opened #987 "Profile Pictures Are Public (accesssable to anyone without login) In Docker Version"
I've migrated my setup from a manual install over to the docker version. The docker version is great except that any file in "www.myserver.com/storage/avatars/" can be accessed by anyone if they know the image file name. In my previous manual install I had a setup in my virtual host in Apache that blocked access to these files. It was as follows:
[code]
However, to my knowledge it isn't possible t

[2018-03-08 05:29] degan6 commented on #987
This is true for any verision of Monica. Its more of a side effect of how images are stored.

It is possible to move the images to a non public dir and stream them through PHP on a per request basis but that slows load time.

I'd also say that this isn't an issue, the images are renamed with a random 40 char name. Its not really possible to guess that URL.

[2018-03-09 04:36] ThatCarterMcBride opened #988 "Dashboard broken in production"
I can navigate just fine to "Settings", "Contacts", "Journal", etc, but if I go to dashboard, all it displays is "Whoops, something went wrong."

It has been like this for 4 days.
I've tried restart, clearing the cache, logging out and logging back in, and trying a difference browser.
There are no errors in the console.

[2018-03-09 05:32] TheGP commented on #958
Sunday is the end of the week

[2018-03-09 05:34] TheGP commented on #978
It should be email or push notifications as well. Currently, reminders are useless.

[2018-03-09 08:28] asbiin commented on #988
What version of monica are you using ?

[2018-03-09 17:57] xJMV opened #989 "Can't finish installing Monica"
I'm following the Debian instructions to install Monica on my own debian system (https://github.com/monicahq/monica/wiki/Installing-Monica-on-Debian).

At step 7.7 : when running "php artisan setup:production" I get an error:
[code]

I even tried to run "php artisan setup:test" but in both case, the database is not populated. Is there something I do not understand? all step above this one is succe

[2018-03-09 18:25] ThatCarterMcBride commented on #988
It is the hosted version (monicahq.com), so version 1.8.1.
Strange thing is, I made a new account and everything worked. It is just the dashboard and just on this account.
There are only 6 contacts with basic information.
Could it be some corrupted contact information?

[2018-03-09 19:01] xJMV commented on #989
Fixed it with: sudo apt-get install php7.1-pdo-mysql
Seems that this package was missing when installed PHP 7.1

[2018-03-09 20:16] dhcrusoe opened #990 "Server has multiple PHP versions - how to set PHP version to use?"
I'm working to install this on a shared server (with several PHP versions installed). Is the base PHP path set somewhere for the initial build? I don't see it in .env, for instance.

[2018-03-09 20:19] #990 closed

[2018-03-09 21:44] xJMV commented on #716
Anyway to add new activities ? that could be added in the "settings/personalization" just like genders or contact field types...

[2018-03-10 19:12] xJMV opened #994 "Bug when editing contacts - V1.8.1"
I recently installed Monica and I notice two bugs when editing contacts.

1. The first name do not appear into the textbox. This requires to re-enter the first name on every edit...
2. When uploading picture, I get the "something went wrong" message. If I get back to the person's page, picture is available...

[2018-03-10 22:05] jcrben commented on #832
This should be handled by custom fields https://github.com/monicahq/monica/issues/79

[2018-03-12 20:13] xJMV opened #1001 "[Feature Request] Tasks & Debts listing"
Create two new pages (like dashboard, contacts, journal) where tasks and debts are listed ordered by contacts.

This way, it is easy to keep tracks of tasks or debts when you can't remember the name of the person attached to a certain task or debt.

It would also empower users to be more efficient by allowing them to be more efficient. For example, having a single page to review all tasks in one p

[2018-03-12 23:14] djaiss commented on #977
Done 😀

[2018-03-12 23:14] djaiss commented on #981
That's an excellent idea!

[2018-03-12 23:15] djaiss commented on #978
Can you provide more details about what you'd like to accomplish?

[2018-03-12 23:16] djaiss commented on #982
That sounds fair! When I wrote this feature, I hesitated. Looks like you make a good point and we could change that.

[2018-03-12 23:17] djaiss commented on #987
Is there a way to avoid this? You can also access a private image on Facebook if you know the URL.

[2018-03-12 23:18] djaiss commented on #988
Really sorry about this and sorry for my lack of answer (was on holidays). I'm going to check that in a few hours.

[2018-03-12 23:19] djaiss commented on #989
Thanks for pointing that error.

@asbiin what do you think? Should we update the instructions?

[2018-03-12 23:20] djaiss commented on #994
For 1), we can easily change that.

2 is a bit more problematic. Could you enable `APP_DEBUG=true` and paste the error log you get when uploading a picture?

[2018-03-12 23:20] djaiss commented on #1001
I agree. This was actually part of the first version of Monica (version that was never made public) 😀

[2018-03-12 23:55] johnriley commented on #978
Change Reminder rules in Personalization from ability to turn specific reminders off and on to a granular system where you can add and delete rules.

Point being, if it is my mom or significant other's birthday, I want to know 7 or 10 days in advance. If it is a business colleague, I'll pop them a text day of. Make sense?

[2018-03-12 23:56] johnriley commented on #976
Should be able to accomplish this and Google Apps/GMail integration via CardDAV. They both use this underlying protocol.

[2018-03-13 10:37] xJMV commented on #994
Here is several scenario tested...

1.  If the filename starts with an underscore ("_"), there will be no changes at all but returns no error.
2. A file of 10mb exactly return an expiration notice. Refreshing the page gets me back to the edit page with an error about the birthday:
`/var/www/monica/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/VerifyCsrfToken.php#70Illuminate\S

[2018-03-13 10:41] xJMV opened #1002 "[Feature Request] Remove contact picture"
While editing a contact, set a button or checkbox to remove current contact's picture.

[2018-03-13 14:54] asbiin opened #1003 "Add langage listbox in registration page"
We should add a langage listbox in the registration page, so the user can create a new account with its good locale directly.

Registration page could use the `Accept-Language` header to guess the langage of the user ...

[2018-03-13 22:28] #902 closed

[2018-03-15 13:36] djaiss commented on #1003
Good idea.

[2018-03-15 18:18] asbiin opened #1005 "Add an option to create a default account on installation"
#954 haved removed automatic account creation after installation.
Some times it's intersting to create an account on installation (like before: admin@admin.com / admin).

We should add an optional environnement variable to do this.
It will not be in .env.example, but will be documented.

[2018-03-15 22:36] djaiss commented on #1005
Why would you need an ENV variable to achieve this (and not a flag on the command line instead)?

[2018-03-16 01:41] xJMV commented on #569
Wouldn't be easier to process the vCards, generate a list where you check/uncheck contacts and finish the import ?

[2018-03-16 02:08] djaiss commented on #122
This is now in production.

[2018-03-16 02:08] #122 closed

[2018-03-16 02:08] djaiss commented on #155
This is now in production.

[2018-03-16 02:08] #155 closed

[2018-03-16 02:08] djaiss commented on #286
This is now in production.

[2018-03-16 02:08] #286 closed

[2018-03-16 02:08] djaiss commented on #256
This is now in production.

[2018-03-16 02:08] #256 closed

[2018-03-16 02:09] djaiss commented on #446
This is now in production.

[2018-03-16 02:09] #446 closed

[2018-03-16 14:04] djaiss commented on #569
I hear you and I understand. I'm focused right now on the custom relationships feature (#19) but this is something we could do right after.

[2018-03-17 01:46] mattdp opened #1008 "Possible API issue for some GETs (code sample included)"
Hi Regis, thanks a ton for implementing [the additional tag features via API](https://github.com/monicahq/monica/issues/658)! I'm trying to use that now, and getting some odd behavior—for the following code sample, it's returning correctly for one GET request (test data provider, /tags) but not for others (/contacts, /activities, /contacts/<ID>). I also tried playing with the limit and page parame

[2018-03-17 08:27] asbiin opened #1010 "Api : add const to list error codes"
We should create const in ApiController to list error codes
[code]

[2018-03-17 18:36] asbiin commented on #989
@djaiss Debian documentation is for php 7.0 which is default version for debian stable (stretch).
debian testing (buster) is currently set with php 7.2, but I didn't tested monica on it.

[2018-03-19 08:43] yarons opened #1015 "L10n issues"
I've started translating Monica and I have several question:
1. Is it OK to transliterate Monica to my native script? (For example: مونيكا, Моника, מוניקה, モニカ, ሞኒካ, etc.)
2. Can I add plural form if the string did not support that originally?
3. Can I add gender reference the same way I can add plural forms? (I know that this app is gender agnostic in a way but when talking about an age we add a

[2018-03-19 10:37] asbiin commented on #1015
Hi @yarons
1. Yes you are welcome to translate Monica in any language !

2. Plurals are handled by Laravel, see https://laravel.com/docs/5.5/localization#pluralization
For any text that should be "pluralized", we have to transform the `trans` method used to `trans_choice`, so we will have to update the code behind. What original texts you wanted to pluralized ?
For now there are only 6 texts like

[2018-03-20 08:01] Nebucatnetzer commented on #982
I agree that this would make a lot of sense.
I've added a few old activities and the appear now all the the top.

[2018-03-20 12:23] djaiss commented on #1015
Thanks a lot @yarons

We don't have the notion of gender specific text selection for a single string currently. I do realize though that it's critical for some languages.

To allow this, we would have to create a _female_ version of each string that we know it contains a notion of gender, and then in the code, call a new method that would either put the male version of the string, or the female on

[2018-03-20 12:24] djaiss commented on #1008
Thanks @mattdp

I will check this issue in the coming days. I'm really sorry for my silence, but #971  is taking all my time right now.

[2018-03-20 12:30] yarons commented on #1015
@djaiss It should be somewhat similar to the plural forms but with a global parameter for gender in each session, not a big deal because I somehow passed it with rephrasing but having this ability would be awesome, I think that Fluent (Formerly L20n) by Mozilla have this feature.

For every extra gender we can just use the "neutral form" this way in French or Russian we can have 3 gender forms: Ma

[2018-03-20 14:07] asbiin opened #1017 "Better search"
Improve search input
Plug elasticsearch engine

[2018-03-20 14:10] asbiin opened #1018 "Localize list of hours"
In settings, the "Time of the day reminders should be sent" listbox is not localized (only in english)

[2018-03-20 14:11] asbiin opened #1019 "Use the new logo"
The (beautiful) new avatar should replace the old one everywhere.

[2018-03-20 17:03] #100 closed

[2018-03-20 17:09] asbiin commented on #251
I think this is resolved

[2018-03-20 17:09] #251 closed

[2018-03-20 17:13] asbiin commented on #465
Duplicate of #139

[2018-03-20 17:13] #465 closed

[2018-03-20 17:20] asbiin commented on #575
@fmakowski  is it still happening ?

[2018-03-20 17:22] asbiin commented on #596
Instruction for docker on wiki page https://github.com/monicahq/monica/wiki/Installing-Monica-on-Docker is clear now.

[2018-03-20 17:22] #596 closed

[2018-03-20 17:24] asbiin commented on #698
Browser tests are running well now.

[2018-03-20 17:24] #698 closed

[2018-03-20 17:26] asbiin commented on #800
This is a duplicate of #136

[2018-03-20 17:26] #800 closed

[2018-03-20 17:28] #886 closed

[2018-03-20 17:29] asbiin commented on #929
JSON export was already proposed in #32

[2018-03-20 17:29] #953 closed

[2018-03-20 17:30] asbiin commented on #953
See #652 also

[2018-03-20 17:33] asbiin commented on #1015
Is it the same idea as #287 ?

[2018-03-20 19:28] tlvince opened #1020 "[Docker] cannot receive reminder emails via mailgun"
Related to #580 and #860, I'm having difficulty setting up monica with mailgun. I've deployed v1.8.1 via Docker and am using the provided (filled out) [.env](https://github.com/monicahq/monica/blob/master/.env.example), plus the following:

[code]

Per #860, I've created new reminder for today and run:

[code]

... but don't receive anything nor see anything in the the docker logs or in mailgun. I

[2018-03-21 02:26] djaiss commented on #1020
Reminders are sent the hour it is defined under Settings

![image](https://user-images.githubusercontent.com/61099/37692179-70058002-2c8d-11e8-97c7-78dc7e2e7fcd.png)

So if you want to send a reminder, but you are not in the correct timeframe the email is supposed to be sent, nothing will be sent.

Example:
- You create a reminder to be sent on March 30.
- Your settings indicate that you want to s

[2018-03-21 02:26] djaiss commented on #1020
So basically, for once, it's not a bug, it's a feature 😀

[2018-03-21 03:06] djaiss opened #1026 "Logo"
![logo](https://user-images.githubusercontent.com/61099/37693034-5783b3d6-2c93-11e8-80ea-bd78438dcd51.png)

[2018-03-21 03:06] #1026 closed

[2018-03-21 08:29] gbroiles opened #1028 "Contact count on dashboard doesn't match count on contact screen"
It looks like the dashboard count is including "significant others" even when the SO doesn't have a standalone/full contact entry, which is why the SO doesn't show up on the contact screen/count.

[2018-03-21 10:11] tlvince commented on #1020
Can confirm; created a new notification and set sending schedule to the next hour and received it fine. Can only suggest adding a debug artisan command/flag to support testing this. Thanks!

[2018-03-21 10:11] #1020 closed

[2018-03-21 10:56] asbiin commented on #1019
#1027 solved it in readme file.
We still need to change
- public/img/favicon.png
- public/img/small-logo.png
- public/img/touch/140x140.png

[2018-03-21 12:35] fiosmiles opened #1030 "Adding Contact Information gives bogus link"
I added a contact information piece and it automatically added a link to:
https://app.monicahq.com/people/whateverIhadinthecontactinfo

Which doesn't make sense.

[2018-03-21 12:37] fiosmiles commented on #362
Yes please!

[2018-03-22 13:36] yarons commented on #1015
@asbiin Close enough I guess :smile: Not sure about the suggestion of implementation but it should yield the same results I suppose.

[2018-03-22 13:58] yarons commented on #1015
I would also like to know if there's any staging environment where I can use my translation and try and fix if there's something wrong.

[2018-03-22 20:14] EricSlusarz opened #1040 "Not sure if the instructions are complete for generic installtion"
Tired to install Monica following all the instructions but I come up with a 403 error on the root.

I can get them a basic HTML login form on localhost/public/ but it doesn't go anywhere when the correct credentials are entered.

Here is the site I installed Monica to: http://vagabondlogic.com

I'm new to programming, PHP, Laravel, etc

[2018-03-23 14:07] djaiss commented on #715
https://laravel-news.com/uploading-avatar-images

[2018-03-23 19:33] AHemlocksLie commented on #543
Let me preface this by saying I'm not an expert. I'm pretty technically knowledgeable, so I feel like I'm most likely right, but not expert level, so if I say anything wrong, I'm totally open to correction.

If you want end-to-end encryption, that would mean the server would never see the unencrypted form of the data. The server would essentially function purely as storage. Everything would have t

[2018-03-23 21:19] johnriley commented on #543
I dealt with this in a startup I worked on that required much of the same security consciousness. I am by no means an expert, but will apply the principles I've learned, which is to analyze the key threats. The significant threat, in my opinion, is the cloud service/hosting provider being hacked, so the raw database being leaked, and application vulnerabilities. For this project, in my opinion, en

[2018-03-23 21:35] AHemlocksLie commented on #543
End-to-end encryption wouldn't prevent those things, it would just force them to be moved to the client side. The mobile app would be more work that way, but with careful planning, I think a lot of the work could be deduplicated. For the privacy conscious, inability of the server to perform data analysis is a selling point, not a problem.

Considering how sensitive and intimate this information co

[2018-03-23 22:27] johnriley commented on #543
Ha - that is a very philosophical comment. There needs to be a critical balance between commercialization, features, and privacy/security as the wrong decisions could cause the project to not do well. Often times usage is a great line of defense, since it means you're incentivized to pay attention to security.

[2018-03-24 12:19] HugoGerritsen opened #1045 "Dutch translation"
Hi there, I am willing to start contributing to the Dutch translation. I am a native Dutchman.

[2018-03-24 12:55] HugoGerritsen opened #1046 "Bug when editing gift"
When a gift is edited, it stays stuck on 'Gifts offered' even when explicitly changed to one of the other two categories. The gift I'm trying to edit has all fields (except comments) filled.

[2018-03-24 13:32] heliostatic commented on #33
Yes, I should be able to mark contacts as related to me (partner, child, parent)

[2018-03-24 14:13] HugoGerritsen opened #1047 "CSS bug when using contact images"
When using contact images, they get squeezed on smaller viewports. Should be an easy CSS fix 👍

![image](https://user-images.githubusercontent.com/20877292/37864945-b6f8ec20-2f75-11e8-8c53-833008abf2e8.png)

[2018-03-24 19:35] realdavidops commented on #835
Hey!

I was having the same issue with my installation in a similar configuration. Here is the fix I had:

**Make sure to set in your .env the APP_ENV to production.**

Once I did this and restarted my docker container my forms started working.

[2018-03-24 23:53] asbiin commented on #1045
@HugoGerritsen Great ! I've open the Dutch translation on crowdin: https://crowdin.com/project/monicahq/nl
Thank you !!!

[2018-03-25 04:07] boringusername99 opened #1048 "When editing a child, gender should be pre-populated with saved value"
On edit, gender dropdown is blank by default, even though a gender is already set for the child. Can't save edits until the gender dropdown is manually set again.

[2018-03-25 19:08] cmatera opened #1050 "working nginx configuration"
Would anyone be willing to share a working nginx configuration for monica rather than using apache?

Thanks

[2018-03-25 22:02] #1045 closed

[2018-03-26 12:30] djaiss commented on #1048
This is coming in the #971 (and many other things). Timeframe: 1-3 weeks.

[2018-03-26 12:30] djaiss commented on #1047
Ouch. Looks bad. I don't have this problem, so I'll have to see why.

[2018-03-26 12:32] djaiss opened #1055 "Shamelessly copy Mastodon for the marketing copy"
I don't like [our marketing homepage](https://monicahq.com/), which is too business-y for my taste. I need to put more an emphasis on the open sourceness of the product, like https://mastodon.xyz/about

[2018-03-26 12:38] djaiss opened #1056 "Add a view of contacts who do not have tags associated with them"
Feedback from one of our user:

Would you consider adding a "untagged" view of contacts, so we can see the list of contacts we haven't added tags to yet?

[2018-03-26 12:48] djaiss opened #1057 "Add the concept of colors to represent when you last communicated with someone"
Tinyblu has a feature (apparently) that indicates with a color next to the contact name (green, yellow, red) when you last communicated with this person. It might be something we investigate, as I believe we need to be better at organizing contacts.

[2018-03-26 12:52] djaiss opened #1058 "Modify a few pages so the app is fast even with a huge number of contacts"
We have a few users with thousands of contacts (one with 8000+, a few above 5000+, and more around 1000-3000). While Monica wasn't designed for having that many contacts, we can be better at managing this.

For instance, when adding a new relationship, a good iteration would be to load either only a X number of contacts, or the X number of most recent contacts, then also have a search box at the t

[2018-03-26 12:59] heliostatic opened #1059 "[Feature Request] Add a "Today" option to the date picker for "How I met X" page"
I usually add contacts the day I meet them, so it would be great to have "Today" as a shortcut on the "How I met X" screen:

<img width="449" alt="screenshot 2018-03-26 08 57 00" src="https://user-images.githubusercontent.com/70898/37907700-d4ebe5de-30d3-11e8-8409-1e218851ad05.png">

[2018-03-26 21:47] ThatCarterMcBride commented on #988
Any update on this?

[2018-03-27 06:32] jonasvp opened #1062 "Turn "phone calls" into generic "chats""
I'm not sure if there's a reason but currently "phone calls" seem to have a special status within Monica in order to record chats with people. This doesn't work for me - and I'm sure many others - since I practically never talk over the phone.

I usually IM with people or meet them for coffee for chats. My workaround is obviously that I take a note with that heading but it would be nice to have ge

[2018-03-27 21:39] jkbecker commented on #582
This would be an absolute killer feature :+1:

I agree with @tlwt, being able to make data read only would be neat.

[2018-03-29 21:45] ezazul opened #1071 "Design is not responsive"
The contact editing button is coming over the details of contact when the screen size is reduced.
And it would looks good if the "Contact Editing Button" and "Contact Delete Button" appear just bottom-right side of  the contact information.
The contact delete option does not comes to the user's sight clearly...
![capture](https://user-images.githubusercontent.com/37624374/38115112-8aac42a0-33c8-11

[2018-03-29 22:02] ezazul commented on #1071
I want to contribute in UI. Just need to add delete button and drag that edit contact information a little bit lower.
Not able to edit the html page.

[2018-03-29 23:19] asbiin opened #1072 "Current selected reminder not saved when editing a reminder"
- Add someone
- Add a reminder, and set it to eg. "Remind me about this every 2 week"
- Save
- Update the reminder
=> the saved reminder time (every 2 weeks) is not selected.

[2018-03-30 08:30] asbiin opened #1075 "Lost gender when editing a child"
When editing a child, the last Gender is lost.

[2018-03-30 08:50] mbuc commented on #1050
I'm also completely unable to get it to work in nginx.  Other laravel apps work just fine.

[2018-03-30 09:10] asbiin commented on #1040
Hi.
Is it a problem with apache/nginx installation, or with monica itself ? What instructions did you followed ?

[2018-03-30 09:12] asbiin commented on #1015
@yarons we don't have a staging environment yet, but I can create a environment with heroku on demand. Just ask me on the related PR.

[2018-03-30 10:25] yarons opened #1077 "Telegram prefix/Multiple handlers"
https://github.com/monicahq/monica/blob/1e1e984baf52156d1c7b6e44ba93cb89643f341d/database/migrations/2017_11_10_174654_create_contact_fields_table.php#L103

Hey guys, I'm not sure `telegram:` is the correct handler, from what I remember it's `tg:`, this is the situation in TDesktop according to this bug:
https://github.com/telegramdesktop/tdesktop/issues/2955
Maybe multiple handlers support would

[2018-03-30 10:27] yarons opened #1078 "Non translatable items in settings"
https://github.com/monicahq/monica/blob/1e1e984baf52156d1c7b6e44ba93cb89643f341d/database/migrations/2017_11_10_174654_create_contact_fields_table.php#L70

https://github.com/monicahq/monica/blob/1e1e984baf52156d1c7b6e44ba93cb89643f341d/database/migrations/2017_11_10_174654_create_contact_fields_table.php#L78

These 2 items should be translatable.

[2018-03-30 10:35] yarons commented on #1015
@asbiin Is there an English staging version where I can compare and see if something is incorrectly mirrored or disappeared?

Thanks!

[2018-03-30 14:27] usrme opened #1080 "Missing Vagrant box for version 1.8.2"
Hey,

Tried to get up and running with Monica on a local Vagrant instance and while executing `vagrant up` it wasn't able to download the box:

[code]

Seems like a small oversight as the 1.8.1 version is there and ready to be used.

[2018-03-30 15:43] djaiss commented on #1075
Indeed. That sucks balls. It's going to be fixed in #971

[2018-03-30 15:44] djaiss opened #1081 "Creation of reminder about a birthday shouldn't be automatic"

[2018-03-30 20:24] mattdp commented on #1081
I'd love if this came with a way to disable all reminders by default for those of us with a lot of existing birthday data. Thanks for considering!

[2018-03-31 16:48] asbiin commented on #1080
Thanks for the report !
The box should be downloadabe now.

[2018-03-31 16:48] #1080 closed

[2018-04-01 21:10] turtles2 commented on #366
@djaiss @asbiin This should be closed as it has been merged in a while ago

[2018-04-02 00:48] djaiss commented on #19
The first step to support this has just been merged.

Monica now comes by default with many more relationship types. We'll enable custom relationships in the future.

* Partner
* Spouse
* Date
* Lover
* In love with
* Ex
* Parent
* Child
* Sibling
* Grand parents
* Grand children
* Uncle
* Nephew
* Cousine
* God father
* God son
* Friend
* Best friend
* Colleague
* Boss
* Mentor

[2018-04-02 00:49] djaiss commented on #117
This has been done and is merged.

[2018-04-02 00:49] #117 closed

[2018-04-02 14:50] djaiss commented on #366
@turtles2 good catch!

[2018-04-02 14:50] #366 closed

[2018-04-02 17:03] djaiss commented on #1081
This is bothering me as well, so this is probably one of the next features I'm going to work on.

[2018-04-03 14:25] djaiss opened #1099 "Indicate age at death for deceased people"
Feedback from user:

For contacts who are deceased, wouldn’t it be better to indicate their age at death versus the age they would be if they were still alive?  As cool as it is to see what they would be, IMHO I think age at death is probably more useful.

[2018-04-04 12:05] alexwlchan opened #1102 "Activities list say "ate at his place", regardless of the gender of the person involved"
Steps to reproduce:

1. Pick a person from https://app.monicahq.com/people. Open their profile.
2. Under "Activities", click "Add an Activity".
3. Look at the "Would you like to categorize this activity?" dropdown.

If I look at this for a contact whose gender is "Woman" (picked from the default list), I see the option _ate at his place_, which is wrong.

<img width="578" alt="screen shot 2018-04-

[2018-04-04 22:02] #1102 closed

[2018-04-05 01:05] Ben11loper opened #1104 "Relationships"
This thing is great, but I noticed versus the primary deployed app, when I pushed my own through Heroku, the marriage/child changed to love interest, family, and other, but when selected, the page does not yield the contents of the add relationship blade. It will just show top/bottom bar with no middle content to add user relationship.

For example, .../people/21/relationships/new?type=171 will yi

[2018-04-05 15:24] yarons opened #1106 "RTL visual glitches"
I accidentally added all these here:
https://github.com/monicahq/monica/pull/1070#issuecomment-377487748

The first one would be:
<img width="1065" alt="screen shot 2018-03-30 at 12 27 25" src="https://user-images.githubusercontent.com/406826/38375289-8e4f900c-38fe-11e8-9c20-6576e5ae0a70.png">
Appears after adding a contact, the labels overlap.

[2018-04-05 16:12] yarons commented on #1106
Replacing `.fl` with `.fr` does most of the magic, all I did was overriding them with `!important` (maybe we can add this as an additional style what will be loaded for RTL), and now it looks much better although there are some more elements to work on.

[2018-04-05 17:16] asbiin opened #1107 "Remove old doc"

[2018-04-05 17:17] asbiin commented on #1107
![sequel-pro-connecting](https://user-images.githubusercontent.com/25419741/38381051-e8e0b184-3905-11e8-85ce-3122beb83513.png)

[2018-04-05 17:17] asbiin commented on #1107
![sequel-pro-connected](https://user-images.githubusercontent.com/25419741/38381084-fbe6b008-3905-11e8-8c1c-d2a29c2d5e7e.png)

[2018-04-05 21:39] #1107 closed

[2018-04-05 22:08] alexwlchan opened #1109 "Feature request: Use Markdown in activity comments"
I’m using activities as mini-journal entries, because I can attach them to specific people. Then I’m putting in the detail in the comment, which is often quite long – multiple paragraphs or bulleted lists.

Problem is, when I go to view that comment, all the whitespace is lost – it’s collapsed onto a single line, which makes it harder to read.

It would be nice if the comments field either:

* Sup

[2018-04-06 09:14] asbiin commented on #1019
@djaiss is the docs/images/logo.png file in the good place ?

[2018-04-06 09:57] asbiin commented on #1106
@yarons thank you. Could you please do as well for the other comments on #1070 ?

[2018-04-06 15:46] yarons commented on #1106
Since I'm not sure they'll all be reproduced after fixing fl and fr I'll just have to wait and see if it's still relevant afterwards.

[2018-04-06 23:15] degan6 opened #1111 "Can Not Create New Relationship"
I can't seem to create a new relationship.

The page loads for a split second then the errors on the side occur.  I'm not familiar with vue to troubleshoot so if there are any other steps you need to do let me know.

I'm on commit bb87ef8 and PHP 7.2 and Chrome Stable (65.0.3325.181)

![screenshot](https://i.imgur.com/Qe1ybpf.png)

[2018-04-06 23:39] turtles2 commented on #1056
@djaiss I propose that we implement this by adding a new method on the Contact class which takes an array of tags or null for none and returns all the users that have all of those tags. This will allow use to clean up the index method on the Contact Controller as well. I am going give this a try.

[2018-04-08 16:33] djaiss commented on #1111
Checking master is dangerous :-)

We haven't fixed this yet... you are missing `global_relationship_form_new_contact: ` in your app.js, after line 217.

Like so

![image](https://user-images.githubusercontent.com/61099/38469836-1822bae4-3b29-11e8-8d76-bc05c9ebd1c7.png)

This will be fixed in the next push to master.

[2018-04-08 16:34] #1111 closed

[2018-04-08 16:35] djaiss opened #1119 "Problem when adding a new contact field"
This https://github.com/monicahq/monica/blob/master/app/Http/Controllers/Contacts/ContactFieldsController.php#L60 generates an error when you create/update/delete a contact field and you haven't a contact field named email yet.

@asbiin

[code]

[2018-04-08 17:02] djaiss opened #1120 "Remove .maps file from codebase and production"
https://github.com/JeffreyWay/laravel-mix/issues/876#issuecomment-308320190

[2018-04-08 21:46] #1046 closed

[2018-04-09 13:35] DivineOmega commented on #1062
I've also got this issue. I mostly talk to people via instant messaging. A simple solution would be to change 'Phone calls' to a more generic term such as 'Conversations'.

[2018-04-10 00:48] #743 closed

[2018-04-10 01:16] #1119 closed

[2018-04-10 06:50] sfeu opened #1133 "1.8.2. Dashboard Contact Count"
It seems to me that the dashboard contact count number also includes siblings for that no person has been added explicitly as a contact?

Ad least the number is higher than that the amount of contacts listed on the persons tab

[2018-04-10 09:33] #1075 closed

[2018-04-10 13:21] yarons opened #1136 "RTL Visual glitch #2 and Prefix handling"
From: https://github.com/monicahq/monica/pull/1070#issuecomment-377492458

<img width="855" alt="screen shot 2018-03-30 at 12 30 36" src="https://user-images.githubusercontent.com/406826/38133043-2b0c9c5c-3416-11e8-93bf-289f801316c1.png">

Take a look at the icons and the buttons locations, they are overlapping the text in several ways.

I may also need your help with implementing this relatively

[2018-04-10 13:22] yarons opened #1137 "RTL Visual glitch #3"
From: https://github.com/monicahq/monica/pull/1070#issuecomment-377492906

Another thing I've noticed is the URL field, it should always be LTR since addresses are usually in English (Well unless IDN and such, very rare cases).

<img width="703" alt="screen shot 2018-03-30 at 12 58 14" src="https://user-images.githubusercontent.com/406826/38134028-27872814-341a-11e8-9c55-57da268bd0ce.png">

[2018-04-10 13:24] yarons opened #1138 "RTL Visual glitch #4"
From: https://github.com/monicahq/monica/pull/1070#issuecomment-377493224
This happened when I tried adding a call log (The X is in the opposite direction overlapping the text):
<img width="634" alt="screen shot 2018-03-30 at 13 00 21" src="https://user-images.githubusercontent.com/406826/38134130-707ec054-341a-11e8-928c-7b45573b53f0.png">

[2018-04-10 13:26] yarons opened #1139 "RTL Visual glitch #5"
From: https://github.com/monicahq/monica/pull/1070#issuecomment-377493513

Some spacing issues when editing contact details:
<img width="483" alt="screen shot 2018-03-30 at 13 02 40" src="https://user-images.githubusercontent.com/406826/38134209-aea5c116-341a-11e8-8c8d-03bfa470a5ba.png">

(Selecting the contact age)

[2018-04-10 13:26] yarons opened #1140 "RTL Visual glitch #6"
From: https://github.com/monicahq/monica/pull/1070#issuecomment-377498239

Tag screen image should be translatable.

A single approach I can come up with is redrawing the images in HTML5 canvas and keeping the names of the tags as parameters, another option would be generating an SVG with the translated tags.

This way the image will be universal and localizable and it will be easier to maintain b

[2018-04-10 13:38] yarons opened #1141 "RTL Visual glitch #7"
From: https://github.com/monicahq/monica/pull/1070#issuecomment-377498389

This one appears in the contact list header:
<img width="338" alt="screen shot 2018-03-30 at 13 33 14" src="https://user-images.githubusercontent.com/406826/38135092-e983cf7c-341e-11e8-97b6-8a1dd85d627b.png">

[2018-04-11 00:52] djaiss commented on #988
Trying to debug this.

This is really strange. You have a user account on the platform, but you don't have any `account_id`, which is really strange.

Have you reset your account once already?

[2018-04-11 01:10] djaiss commented on #988
Actually you do have an `account_id`, but the Account object doesn't exist.

I don't understand why this happened. But this is not isolated - we have 304 users who have the same problem as you. I need to fully review the codebase to see how Monica can delete an Account object without having the user account deleted as well. I'm really sorry about this. The best solution for now is to create a new

[2018-04-11 01:38] djaiss commented on #1109
Thanks a lot for caring and submitting an issue.

This will be addressed here https://github.com/monicahq/monica/pull/1145 which will be merged before the end of this week.

[2018-04-11 01:53] #1133 closed

[2018-04-11 01:53] #1109 closed

[2018-04-11 15:07] asbiin commented on #1019
These files are still here:
- public/img/touch/140x140.png
- public/img/main-app.png
- public/img/screenshot.png

[2018-04-11 21:43] #1120 closed

[2018-04-12 14:05] djaiss commented on #1019
Actually I forgot to update the /img/touch logo. Let's reopen it and fix it.

[2018-04-12 14:14] asbiin commented on #1019
@djaiss I removed it because it's only used in manifest.webmanifest which refers now on img/monica_140.svg

[2018-04-12 14:33] djaiss opened #1152 "Remove Intercom from the hosted version"
We should remove all tracking.
This means
- remove the intercom entry in the `.env` file
- remove the JS code in the Blade template
- update `.env` file in production

[2018-04-12 19:00] evaryont opened #1154 "Support logging in with an OAuth2 provider"
A rephrasing of the now-closed #558. And a reincarnation of #39.

### As a user, I would like to be able to log in with a 3rd-party identity provider and not have to maintain yet another username and password credential pair.

This is probably only going to be useful for self-hosted installations -- they can decide who they trust. For the publicly hosted version, I don't know of many OAuth2 provid

[2018-04-12 19:03] evaryont commented on #1154
@degan6 would you be willing to modify the work you've done in #558 to support generic configuration rather than being Facebook and Google specific? That way it allows each person running an instance to decide who to trust based off `.env`.

[2018-04-12 23:14] djaiss opened #1158 "Create a command to execute all commands that we need to run before pushing final commit to a PR"
Each time we need to push our final commit to a PR, we need to
* `php artisan lang:generate`
* `npm run prod`

And sometimes other stuff too.

Perhaps we could create a command `php artisan finalize:pr` or something that would do that for us.

[2018-04-12 23:23] #1137 closed, assigned to nobody

[2018-04-13 02:52] djaiss commented on #1152
Done

[2018-04-13 02:52] #1152 closed

[2018-04-13 05:50] yarons commented on #1138
Hey, can I see the changes in the Heroku instance?

[2018-04-13 09:49] asbiin commented on #1158
Actually, this is already done with `make build-prod` command, and should not be required after I've finished #865

[2018-04-13 09:52] asbiin commented on #1040
If you can describe more precisely your issue, we can help you, but there is not enough information here to improve generic installation instruction.

[2018-04-13 09:52] #1040 closed

[2018-04-13 09:53] asbiin commented on #1030
I can't reproduce this problem. What is the scenario to reproduce it ?

[2018-04-13 09:54] asbiin commented on #1028
@djaiss is this fixed with the nex relationship ?

[2018-04-13 10:03] asbiin opened #1161 "Wrong "new version available" message just after update"
When upgrading an instance of Monica to the latest version, the current available version should be updated as well:
![image](https://user-images.githubusercontent.com/25419741/38729233-9159ebde-3f12-11e8-8229-ac3abc2b95f2.png)

[2018-04-13 10:04] #1018 closed

[2018-04-13 10:19] djaiss commented on #1161
That's because we need to run `php artisan monica:ping`. We probably can automate this part as well.

[2018-04-13 10:26] fiosmiles commented on #1030
Open a person.
Go to contact information
Click edit
Add Twitter or other
Enter username
Save

See the link generated to the username entered, this refers back to Monica website which doesn't make sense.

[2018-04-13 10:39] asbiin commented on #1161
Or to be integrated in `monica:update` command!

[2018-04-13 19:34] doodlemania2 opened #1165 "PHP Syntax Error on 2.0"
PHP Parse error:  syntax error, unexpected '?', expecting variable (T_VARIABLE) in /app/cod
e/vendor/symfony/http-kernel/Exception/HttpException.php on line 24

New install and upgrades.

[2018-04-13 23:34] turtles2 commented on #107
@djaiss This has been added. This issue should be closed.

[2018-04-14 01:24] turtles2 commented on #1165
Which PHP version? Can you set APP_DEBUG=true in .env and display the output?

[2018-04-14 02:01] mattdp opened #1169 "Setting relationship errors, and breaks both parties profile pages"
On the site, I tried using the new relationships to tie together two people as spouses (the new page loads SO much faster with many contacts, thanks!).

It errored, and now causes errors when I try to view either of the people's pages as well, which were working before (https://app.monicahq.com/people/h:G1V5ZebQwjBgr6XOzo and https://app.monicahq.com/people/h:L1o2g0W4ynDdrJz7Ye).

Big fan of the n

[2018-04-14 03:43] djaiss commented on #1169
Thanks a lot for the feedback.

I'll fix this asap.

[2018-04-14 03:53] djaiss commented on #1165
Indeed we need more details. Does this happen during installation? When you load a specific page? Which one?

[2018-04-14 08:25] asbiin commented on #1165
This error might be due to a wrong php version. We rely on Laravel 5.6 now, which need php >= 7.1

[2018-04-14 11:08] Svarto opened #1170 "Docker not updated to version 2.0?"
Hi, just wanted to check in if you forgot to push the 2.0.0 version to docker, I locked at DockerHub and see that the last push was 24 days ago (same day 1.8.2 version was released).

Sorry, I am just a bit excited to get the latest version with the update :)

[2018-04-14 12:08] djaiss commented on #1169
I understand what happened. There is a problem when you edit a contact (whether it's through a relationship) - sometimes the gender id is not set.

@mattdp which browser are you using?

[2018-04-14 13:04] djaiss commented on #1169
@mattdp this _should_ be fixed now. Could you try and test? Thanks a lot and sorry for this error.

[2018-04-14 15:32] Dagolin commented on #556
Hi @djaiss @sid3windr

Thanks for the explanation, I have tried the steps but failed to reproduce the bug, maybe it has been fixed?

[2018-04-14 15:57] Dagolin commented on #521
Hi @Phrohdoh

Does it still happen? I was not able to reproduce this, I think maybe this has something to do with the old version of Laravel, see https://github.com/laravel/framework/issues/21822,

[2018-04-14 16:52] Dagolin opened #1173 "The module 'How we meet' is not shown"
The module is not shown because the key in [index.blade.php is `introductions`](https://github.com/monicahq/monica/blob/master/resources/views/people/dashboard/index.blade.php#L17) is different than [data in the database which is  `how_you_met`](https://github.com/monicahq/monica/blob/master/database/migrations/2018_04_04_220850_create_default_modules_table.php#L52)

[2018-04-14 22:32] #1169 closed

[2018-04-15 01:34] #1173 closed

[2018-04-15 02:07] turtles2 commented on #357
@djaiss The graph part of this interests me. I am willing to find the tool and build them. I just need some guidance on what we are looking for visually.

[2018-04-15 03:39] djaiss opened #1177 "Brainstorm: what information should the dashboard display?"
I would like the dashboard to be really useful.
What do you think should be there? What is missing?

[2018-04-15 09:07] yarons opened #1180 "Ambiguous terms"
https://github.com/monicahq/monica/blob/9a5114943756a7a14f84c740d6884aebe8100b99/resources/lang/he/app.php#L17
https://github.com/monicahq/monica/blob/9a5114943756a7a14f84c740d6884aebe8100b99/resources/lang/he/app.php#L18

These two are really ambiguous, what do they mean? Where are these used?

For example:
This is for me.
For 48 hours straight.
In Hebrew they are handled differently.

Regarding

[2018-04-15 11:40] djaiss commented on #357
@dancyfits imho GraphQL is unrelated with the relationship graph concept. GraphQL is an alternative to traditional REST APIs, and the work to implement it in Monica would take months and months.

@turtles2 @dancyfits before finding out how it should look like, we should define what it would do, considering the current structure of the relationships between contacts. Also I need to be convinced tha

[2018-04-15 14:12] turtles2 commented on #357
@djaiss My interest in implementing this is due to the technical nature of it. I was hoping for guidance from you and others on what it should do precisely

[2018-04-15 23:11] dancyfits commented on #357
@djaiss This type of problem is one of the main reasons GraphQL was built in the first place.
https://dev-blog.apollodata.com/explaining-graphql-connections-c48b7c3d6976#de1c

GraphQL is not an alternative for REST APIs.
http://graphql.org/blog/rest-api-graphql-wrapper/

[2018-04-16 00:29] dancyfits commented on #1180
#### preposition
עֲבוּר
for, for the sake of, because of
בִּשְׁבִיל
for, for the sake of
בְּגִין
for, for the sake of
כְּנֶגֶד
against, opposite, contrary to, for, facing
בְּשֶׁל
because of, for
בִּמקוֹם
instead of, for, in place of, in lieu of, vice
לְ-
to, for, toward, towards, unto, upon
בְּעַד
for, in favor of, on behalf of, for the sake of
בִּגלַל
because of, due to, for, owing to, on account

[2018-04-16 00:57] doodlemania2 commented on #1165
Apologies, wasn't sure where to even start - this happens when I start up the app with Apache.ls   The Migrate completed okay. Also getting this error when debug is set to true:

[Mon Apr 16 00:52:44.808212 2018] [:error] [pid 37] [client 172.18.0.1:47966] PHP Fatal error:  Exception thrown without a stack frame in Unknown on line 0
[Mon Apr 16 00:52:44.813386 2018] [:error] [pid 37] [client 172.1

[2018-04-16 10:08] asbiin commented on #977
This is still the case on app.monicahq.com

[2018-04-16 10:18] yarons commented on #1180
LOL!
Well, the second option you proposed is seldom used, just tell me what are the options and where can I find this term in context and I'll see what I can do :smile:

Regarding the side note: I can both read and speak some Japanese but I'm far from fluent.
I find Amharic more appealing for some reason so I put more efforts there in addition to Russian and Arabic which are widely spoken in Israe

[2018-04-16 10:28] asbiin commented on #1180
Well, actually this two words... are not used in the application!
I wanted to check for every texts to translate if they are used, because I know some are not necessary. For now.

[2018-04-16 10:37] asbiin commented on #1165
The line on Response.php file of symfony/http-foundation use a nullable type https://wiki.php.net/rfc/nullable_types
It has been introduced in PHP 7.1 http://php.net/manual/en/migration71.new-features.php

Could you check your php version by runing a `phpinfo();` in your instance ?

[2018-04-16 11:00] jonasvp opened #1182 "Translating genders leads to wrong gender in relationships"
Thanks for Monica! I recently rediscovered it and it's really helpful.

One thing I ran across: I translated the genders to german ("man" -> "männlich", "woman" -> "weiblich") using the personalization feature in my instance of Monica. However, apparently this leads to all relationships displayed as "male". For instance, my daughters have "son" beside them in the sidebar. My wife has "father" on t

[2018-04-16 11:02] jonasvp commented on #1177
I would love for some CRM functionality to be added: for instance, being able to tag a contact with a "frequency" (weekly, monthly, quarterly, yearly) and the dashboard showing me, who I should get in touch with again based on the date of the last conversation I recorded.

[2018-04-16 11:25] jonasvp commented on #929
JSON and XML are fine for developers but those are probably already served well with the SQL dump.

For end users I would propose using vCard (VCF) or CSV, like @djaiss proposed. VCF is already supported and it would allow importing contact information e.g. in Thunderbird. A VCF file can contain many vCards for multiple people. It has the advantage of actually being designed to handle that kind of

[2018-04-16 13:30] djaiss opened #1183 "Add an option to confirm email address on signup"
Europe is launching a new law in May, called GDPR, which is great, but comes with a lot of constraints for anyone having a webservice.

One of the thing we need to do to be compliant is:

_With e-mail double opt-in, a new user first needs to verify their e-mail address before completing the sign-up process._

I've tried to prevent doing this on Monica since the beginning - not because I wanted to

[2018-04-16 13:47] djaiss opened #1184 "Terms and privacy opt-in"
Europe is launching a new law in May, called GDPR, which is great, but comes with a lot of constraints for anyone having a webservice.

With GDRP, it is now required to actively opt-in to the terms and privacy when signing up. So something like: "By clicking the button above you'll agree to our TOC" is no longer allowed. ([source](https://blog.fortrabbit.com/fortrabbit-is-gdpr-ready))

We need to

[2018-04-16 17:11] djaiss commented on #977
@asbiin It is not. It's set to `Monica HQ` in production. Are you sure?

[2018-04-16 18:01] asbiin commented on #977
I still get reminders from 'Regis from Monica'. Don't you?

[2018-04-16 18:01] johnriley commented on #977
Yep. I do as well

[2018-04-16 20:45] dancyfits commented on #1180
Yeah, it looks like for is used exclusively in comments and for loops, and new is either used for classes or already translated individually.

We'll just have to keep an eye out for new for's and new's. /baddadjoke

[2018-04-16 20:45] djaiss opened #1187 "Cleanups"
Based on https://github.com/monicahq/monica/pull/1172#discussion_r181598012

we need

- remove `public/js/langs/la.json `
- `resources/assets/sass/header.scss`: make sure RTL is not affected

[2018-04-16 20:56] djaiss commented on #601
This has been solved as now we are using another component to select a date.

[2018-04-16 20:56] #601 closed

[2018-04-16 20:58] djaiss commented on #365
This is now done. And much much more with the new relationships feature in 2.0.0.

[2018-04-16 20:58] #365 closed

[2018-04-16 22:59] djaiss commented on #977
I don't understand.
In my `.env`, I have `MAIL_FROM_NAME='Monica HQ'`.
There is not a single instance in the codebase where we see `Regis from Monica`.

Where can it come from?

[2018-04-16 23:01] djaiss commented on #977
I have cleared the cache with `php artisan cache:clear`.

I'll monitor the emails tonight to see if it's still happening.

[2018-04-16 23:02] djaiss commented on #929
Alright, but how? One CSV per table?

[2018-04-17 01:28] cybershambles commented on #357
I'd also like to be able to tag people into groups.. I have social circles.. like a workplace or hobby or group of friends.

[2018-04-17 01:43] dancyfits commented on #357
@cybershambles That you can do.  On a contact's page, "Edit tag" under their name.

[2018-04-17 02:31] djaiss commented on #19
This feature has shipped.

[2018-04-17 02:31] #19 closed

[2018-04-17 08:08] jonasvp commented on #929
I wouldn't stick to the database schema for that. Have one CSV export for contacts (in Google/Outlook CSV format) and add others for other things (conversations, debts, gifts) as requested. Those would need to be denormalized somewhat, so e.g. for every person that appears, show the name _and_ the ID.

Is there actual user demand for this, though? I see the point of importing contacts into another

[2018-04-17 11:30] #1187 closed

[2018-04-17 11:36] asbiin commented on #929
I disagree with CSV format.
We need a format to represent object base and their relations (hierarchic-structure).
JSON or XML is very good, it can be used in a script, program, you can do queries to get a part of the file. CSV does not allow that.
Nor VCF.
We need a format to represent all objects on Monica, VCF it to restrictive here.

Eventually we can do both JSON and CSV ...

[2018-04-17 12:04] djaiss commented on #929
Ok. I understand what you are saying @asbiin - JSON might be good, but like @jonasvp said, CSV is definitely very popular for non technical people.

[2018-04-17 13:32] asbiin commented on #929
OK, but the real question is not the format of export, it's: what you want the user do we this datas?
For me, CSV is _not_ really user friendly.

[2018-04-17 14:55] doodlemania2 commented on #1165
Any thoughts most appreciated! Going to try with 2.0.1 today to see if it magically fixed itself.

[2018-04-17 15:36] djaiss commented on #929
Two things:
* The new european law, GDPR, requires the ability to export user data - all user data in fact, like... everything. SQL is not super friendly for this.
* Even if the law didn't require it, I think users should be able to export their data and be able to visualize them....

As I'm writing this, shouldn't we export a set of HTML files and basically mimic what we have in the app? Like a l

[2018-04-17 15:50] turtles2 commented on #1165
May I suggest shutting down apache and running php artisan serve which will start it using PHP at http://localhost:8000. This may or may not work with Monica. I don't have access to my server to test. But if it does we will at least know where the issue is.

[2018-04-17 16:28] doodlemania2 commented on #1165
interesting! i get a render on php artisan serve - this seems to point towards an issue with apache me thinks. Where to start? My site config couldn't be more boring:
<VirtualHost *:8000>
    # The ServerName directive sets the request scheme, hostname and port that
    # the server uses to identify itself. This is used when creating
    # redirection URLs. In the context of virtual hosts, the Ser

[2018-04-17 16:33] turtles2 commented on #1165
I would tend towards your server being the problem per your last post. Per laravel docs try this in apache.

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

[2018-04-17 16:36] asbiin commented on #1165
Instead of building your own docker image, you can use the pre-built docker image, see:
https://github.com/monicahq/monica/wiki/Installing-Monica-on-Docker#use-docker-compose-to-run-a-pre-built-image

[2018-04-17 20:54] mattdp commented on #1169
@djaiss thanks for the quick response! works well now :)

i think because 98% of my contacts are API imports it's very common for them not to have genders set yet.

[2018-04-17 21:53] doodlemania2 commented on #1165
@asbiin am working on packaging the app for a most excellent tool called Cloudron so the default Docker image won't work but it has provided tons of useful pointers along the way!

@turtles2  am trying that now - will report back.

[2018-04-18 01:55] doodlemania2 commented on #1165
Very much appreciate the assistance. I've gotten the errors to go away from the PHP side with @turtles2 's suggestion but now just getting a raw 400 error from the server. Debug=true doesn't seem to produce anything as well. Here's my new Apache file. Things in the right spot?

<VirtualHost *:8000>

ServerAdmin webmaster@localhost
    DocumentRoot /app/code/public
    RewriteEngine On
    RewriteC

[2018-04-18 02:30] turtles2 commented on #1165
May I suggest not install Monica but instead just get laravel to work then
install Monica in it's place? Laravel has allot of resources to help guide
you as I feel it's a config problem not realted to Monica.

On Tue, Apr 17, 2018, 8:56 PM Derek <notifications@github.com> wrote:

[2018-04-18 04:04] djaiss commented on #1077
Thanks @yarons.

It will be pretty easy to fix this.

[2018-04-18 10:06] trevormeier commented on #531
I also second the need for an easy-to-install desktop version. I'd be happy to use the hosted version if it had e2e encryption, otherwise I feel I'm at risk of exposing my contact's data. So until that's available, a quick and easy way to run Monica as a desktop app (Mac, in my case) would be great.

I know Monica is getting a bunch of fresh attention thanks to Derek Sivers' post (https://sivers.o

[2018-04-18 14:11] djaiss opened #1192 "Add dark mode"
Twitter does it well.
Zulip also.

Check:

![image](https://user-images.githubusercontent.com/61099/38937270-d32fbc0a-42f0-11e8-9708-0dfac70ede6b.png)

[2018-04-18 14:51] doodlemania2 commented on #1165
That's fair - only opened it as an issue as it cropped up in latest builds but didn't in previous. Thanks all for the help!

[2018-04-18 14:51] #1165 closed

[2018-04-19 00:55] Mokto commented on #1184
This is needed for the /oauth/signup route on the API too, right ?

[2018-04-19 00:56] Mokto commented on #1183
*With e-mail double opt-in, a new user first needs to verify their e-mail address before completing the sign-up process.*

Don't we have to force the users to confirm their email before accessing their account ?

[2018-04-19 02:47] djaiss commented on #1183
We don't currently, but we have to from now on.

[2018-04-19 02:48] djaiss commented on #1184
That's an excellent point actually. For sure, yes (unfortunately). We'll have to manage the case.

[2018-04-19 02:54] djaiss commented on #977
I've finally found it.
Postmark, which is the transactional provider we use, actually overrides the FROM EMAIL ADDRESS field.

It's fixed now.

[2018-04-19 12:43] djaiss opened #1193 "Notion of secrets"
Sometimes, I tell a secret to someone. I'd like this person to keep it to himself. Then, because I'm a chatterbox, I tell this secret to someone else. Quickly, a few friends know the secret.

I need to be able to know which friends know what (notion of "shared" secret).

I wonder if people would think this is valuable.

[2018-04-19 18:16] turtles2 commented on #1183
@djaiss Why reinvent the wheel with this. I found this package [laravel-email-confirmation](https://github.com/bestmomo/laravel-email-confirmation) from my reading it should allow the project to comlpy with GDPR on the email side

[2018-04-19 20:39] tomzx commented on #1177
Let people configure their dashboard using widgets?

[2018-04-19 22:26] djaiss commented on #321
Other feedback:

[2018-04-19 22:58] djaiss commented on #321
The features we could do about this
- ability to say that you want to "touch" a contact every X days (email)
- ability to say that you want to "touch" a contact every X days from the last contact date (email)
- ability to filter your contact list by "contacts you haven't contacted in X days"

Let's called this feature `stay in touch`.

The easiest first step would be to indicate that you want to s

[2018-04-20 11:56] asbiin commented on #977
Sorry ... still getting email reminder from "Regis from Monica <regis@monicahq.com>"

[2018-04-20 17:07] tomzx commented on #68
Probably of interest: http://laravel-notification-channels.com/

[2018-04-21 16:43] djaiss commented on #321
First step of this has been done and will be soon available online.

[2018-04-21 16:48] djaiss commented on #79
Feedback from user. This gives an idea of the type of information he wants to store

- Activities which this person likes/which are a good fit to do with (e.g. hiking, playing videogames, talking about the meaning of life, etc.) and doesn't like/are not a good fit to do with
- Political opinions (I created this column but never used it, in fact)
- Topics this person likes to talk about, topics the

[2018-04-21 22:12] tomzx opened #1197 "Normalize account_id/contact_id"
It is my understanding that `contacts` are not shareable between `accounts`. Thus, it would make sense to get rid of the unnecessary `account_id` in many tables such as `activity_statistics`, `calls`, `contact_fields`, etc. as it is easily possible to join/retrieve the necessary account through the `contact` itself.

This may likely require some code refactoring, but it would prevent issues with d

[2018-04-22 01:04] tomzx commented on #1197
@turtles2 Would you mind sharing a link to said wiki article?

I haven't posted yet, but there's also an issue with foreign keys missing in most tables. In such case as deleting a user, if the user is truly deleted from the database, then foreign key constraints could take care of removing most of the related data in the database through cascading constraints.

[2018-04-22 01:08] tomzx opened #1198 "Missing foreign keys on many tables"
I was taking a look at the source code and noticed that many tables appear to be missing their foreign keys. Is there any particular reason for this omission?

I also have noticed that most of the columns that would be used as foreign keys are integer and not unsigned integer, which currently makes it not possible to create a foreign key between said columns and the likely unsigned int primary key

[2018-04-22 12:05] djaiss commented on #1198
Indeed, there are no foreign keys, almost none actually.
This was made because I wasn't sure how good the compatiblity with Postgrsql or sqlite with this feature would be
The work to address this is.... gigantic to say the least. If you can do it, and make it work, that'd be some feat.

[2018-04-22 12:08] djaiss commented on #1197
No no no no no don't get rid of `account_id` unless we implement foreign keys 😀
I understand why you would to something like that, because it seems awfully redundant, but stay with me there:
- we add many new tables every month. The script to delete or reset a user account (https://github.com/monicahq/monica/blob/ad2b75db75c1546a80276775906e8052d67a551f/app/Http/Controllers/SettingsController.php#

[2018-04-22 12:09] djaiss commented on #79
Another feedback

[2018-04-22 12:10] djaiss commented on #1177
Alright, but... which data should those widgets contain? Configure != content.

[2018-04-22 13:21] djaiss opened #1201 "Dashboard shows reminders already happened for the current month"

[2018-04-22 15:34] djaiss opened #1202 "Add markdown support in the Journal"

[2018-04-22 16:26] lhenze opened #1203 "Vagrant box install issue, "failed to create the raw output file""
error:

[code]

I've tried two different Mac Operating Systems (High Sierra and El Capitan) , and two different Virtualbox versions (5.2.10 and 5.1.26).  On High Sierra, In either Virtualbox version, I can see the monica box set up up next to another vagrant box I have running, but the other vagrant box works well.
For Monica HQ, I consistently get this error, any ideas?

[2018-04-22 19:16] mNantern opened #1204 "Docker install fail : The server requested authentication method unknown to the client"
Hi !

I wanted to try Monica by following the Docker install guide (https://github.com/monicahq/monica/wiki/Installing-Monica-on-Docker#use-docker-compose-to-run-a-pre-built-image) but unfortunately it's not working:

[code]

It looks like an issue with MySQL 8.0.11 (https://github.com/laradock/laradock/issues/1392#issuecomment-368308494)

When trying with MySQL 5.7 I have another error:

[code]

[2018-04-22 19:26] Ben11loper commented on #1104
This was the current version on Heroku where I was seeing it.

[2018-04-22 21:31] tomzx commented on #1198
Alright, so I've got foreign keys working.

There's about 40 broken tests that will need to be fixed after I've done an initial fix to the `AccountTest` class (see https://travis-ci.org/TomzxForks/monica/jobs/369859640).

[2018-04-23 09:59] asbiin commented on #1204
That's... unfortunate!
You can solve this by using an other cache driver like `CACHE_DRIVER=file`
But this should not happen !

[2018-04-23 11:04] djaiss commented on #1203
@asbiin do you have any ideas of what might happen here?

[2018-04-23 16:29] mNantern commented on #1204
It's working with `CACHE_DRIVER=file` !

It looks like php artisan is trying to access the cache before creating the database:

[code]

One last question: what is the recommended version of MySQL ? 5.7 or 8.x ?

thank you !

[2018-04-23 17:07] mNantern commented on #929
I'm 👍 for a vCard export. That would definitively help from an end-user perspective

[2018-04-23 19:40] sfeu opened #1209 "Add journal entry with date != today does not work"
Adding a journal entry with a different date is not possible.

Entries can only be created for the same day. Thus, the datepicker is ignored

version 2.0.1

[2018-04-23 22:41] asbiin commented on #1203
Well, the reason is I've fuck'd up somewhere !
I dont understand yet where is the glitch, I will fix this these week.

[2018-04-24 07:26] asbiin commented on #1198
@tomzx That's a great idea! You may want to create a PR for that?
BTW, we have switched to CircleCI recently ;)

[2018-04-24 11:54] djaiss commented on #1198
I've read that foreign keys, by default, do not work well with SQLite.
We need to see if we want to support SQLite or not.

[2018-04-24 12:15] tomzx commented on #1198
@djaiss I believe FKs in SQLite work just fine. However they are not enabled by default, see: https://www.sqlite.org/foreignkeys.html#fk_enable.

@asbiin Will do as soon as I'm done fixing the tests! Should be soon given there's 2 errors and 2 failures left to fix (see https://travis-ci.org/TomzxForks/monica/jobs/369933164).

[2018-04-24 21:31] fmcpherson opened #1211 "Docker Update Fail"
Previously running Monica 1.8.2 via the images hosted on Docker Hub. I did a docker-compose pull today to update my images but after docker-compose up I get MYSQL errors resulting on it being shut down and therefore Monica not successfully coming up. See the attached screenshot showing the error. I am going to revert back to a snapshot of the prior version.

![startuperror](https://user-images.git

[2018-04-25 18:42] tomzx opened #1212 "Unrelated validation exception when saving a contact with an invalid email address"
Use case:
* Create a contact
* Add a contact information of type email with an invalid email address (using the sidebar)
* Edit the user contact information (button at the top of the contact form)
* Save

Is the issue that you shouldn't be allowed to enter an invalid email or that saving the contact information should check if the contact of type email is valid before passing it to gravatar?

[cod

[2018-04-25 19:16] tomzx opened #1213 "SQL export assumes a "monica" database"
https://github.com/monicahq/monica/blob/a6ac8a8f5fa526f4f903d80a9c3896b670c6f0bd/app/Jobs/ExportAccountAsSQL.php#L86

Seems it would be more appropriate to look for the current connection database (or the environment `DB_DATABASE`).

[2018-04-26 21:44] stephenjudge opened #1219 "Back-Up Codes for Two-Factor Authentication"
It is common practice in most 2FA implementations to have a set of printable backup codes that can be used in the event you loose your 2FA device. When I activated 2FA on Monica I was disappointed to see there was no facility for backup codes offered. Please implement this.

[2018-04-26 21:56] asbiin commented on #1219
Thank you for you concern. However, this is already plan, this issue is a duplicate of #824

[2018-04-26 21:56] #1219 closed

[2018-04-27 01:48] #1099 closed

[2018-04-27 01:52] djaiss commented on #1213
Ohhh that is a nice catch. Good one.

[2018-04-27 01:53] djaiss commented on #1211
Damn. Sorry about that. We'll fix it.

[2018-04-28 15:44] Erwyn opened #1224 "Is it possible to use the default local mail server?"
Hello there,

I would like to know if it's possible not to configure an external mail server but use the default direct one? How to do so?

[2018-04-29 03:28] turtles2 commented on #1224
@Erwyn I don't know enough about email to answer your question directly. But I know that Monica is based on Laravel. Which offers many ways to send emails. Read this [doc](https://laravel.com/docs/5.6/mail) to learn about the various ways laravel can send email out of the box.

@djaiss Correct me if I am wrong. But Monica does use the Laravel Mail feature?

[2018-04-29 12:09] Erwyn commented on #1224
@turtles2 I'm gonna take a look at this thanks

[2018-04-29 14:01] djaiss commented on #1224
@turtles2 yes, Monica uses the built-in Mail feature - so you can use https://github.com/monicahq/monica/blob/master/config/mail.php to configure with a variety of providers.

[2018-04-29 21:55] bglopez commented on #1204
I set the MySQL image tag to 5.7 (mysql:5.7) in docker-compose.yml and it is working for me, so try that version.

[2018-04-29 23:29] djaiss commented on #1224
@Erwyn have you succeed?

[2018-04-29 23:53] Erwyn commented on #1224
Hello Régis,

Sorry haven't got the time to try yet, I'll let you know when I'm on it.

2018-04-30 1:29 GMT+02:00 Régis Freyd <notifications@github.com>:

[2018-04-30 02:56] #819 closed

[2018-04-30 02:56] #1202 closed

[2018-04-30 02:57] djaiss commented on #819
Added in master. Will be in the next release.

[2018-04-30 05:36] exnovostudio opened #1232 "Bug - Tags"
In contact detail page, if i have more than one tag assigned to a person and i try to delete a tag,
that is not possible. On page refresh the tag is still there.

[2018-04-30 11:05] rickpastoor opened #1238 "Clicking edit for a person does not fill in firstname in form"
Steps to reproduce:

* Go to contact with firstname/lastname
* Click 'edit contact information' button
* No firstname is visible in the form, even though it is displayed at the top of the page

![schermafbeelding_2018-04-30_om_13_05_20](https://user-images.githubusercontent.com/149958/39424477-36e7980a-4c77-11e8-80d6-e1930679df5c.png)

[2018-04-30 11:08] rickpastoor opened #1239 "Dashboard tells me to wish deceased grandma a happy birthday"
That's too bad, because she passed away. But thanks for letting me know ;)

I like the reminder. Probably something like '[firstname] would have turned [x] on this date.' would work.

![schermafbeelding 2018-04-30 om 13 07 53](https://user-images.githubusercontent.com/149958/39424572-9ad72a24-4c77-11e8-9486-d9a13bd31b33.png)

[2018-04-30 11:45] Aeolun opened #1240 "If one contact fails to import, do not fail the entire import."
I had one contact with an incorrect email that meant my whole set of 300 contacts couldn't be imported.

[2018-04-30 13:44] djaiss commented on #1240
This https://github.com/monicahq/monica/pull/1227 will take care of that. It'll be merged this week.

[2018-04-30 13:45] djaiss commented on #1239
Ouch :-( That's not good. I'll fix that.

[2018-04-30 14:05] Aeolun opened #1241 "DeleteEverything has a hardcoded schema name"
On `Contact.php:1241`

[2018-04-30 14:06] Aeolun commented on #1240
@djaiss Awesome! Thank you.

[2018-04-30 14:06] #1240 closed

[2018-04-30 14:45] cedewey opened #1242 "A user can rate a past day."
Usually I find myself reflecting on the previous day when I use Monica. I like the "How was your day?" feature, but would like to be able to do this for a past day.

[2018-04-30 19:30] djaiss opened #1244 "Add the concept of "this contact likes me""

[2018-04-30 19:31] djaiss commented on #1241
Already addressed by https://github.com/monicahq/monica/issues/1198

[2018-04-30 19:31] #1241 closed

[2018-05-01 03:30] #1238 closed

[2018-05-01 05:35] Aeolun commented on #590
You are talking about the tags I think. And yeah, that's indeed an issue. It would be nice if the tag box showed a dropdown of the existing ones when you focus it.

[2018-05-01 12:11] djaiss commented on #977
The server rebooted last night - and now it's now `Monica HQ`.

How come this env variable was only able to change after a reboot?

[2018-05-01 12:11] #977 closed

[2018-05-01 12:12] rolisz opened #1255 "Suggest relationships"
It would be useful if Monica could suggest adding relationships when adding family members. For example, in a family with one mother, one father and three children, once you have the parents and you add one child to one parent, it would suggest creating a parent-child relationship for the other parent. Similarly, once you have some other children in the family, it would suggest adding sibling rela

[2018-05-01 12:42] djaiss commented on #79
I think the first iteration should be pretty simple.

Here what we could do:

- list of fields
   - textfield
   - textarea
   - date
- indicate where to place the component
- indicate whether it's a list or one-time item

I have a problem with the placement of the custom fields. We have several possibilities to place them on a contact sheet
* Below all existing, native fields
* Above all existing

[2018-05-01 14:53] cedewey commented on #1177
For me, I use Monica to keep tabs on how intentional I am being with my time with others. I want to make sure that I've been calling my mom regularly or seeing a good friend who, while we both have busy lives, try to get together once every 4-6 weeks.

So, data visualization that helps me see where I spend my time. Something like what one would expect from a budgeting tool. I spent x time with thi

[2018-05-01 14:58] jeremydenoun commented on #79
Can you consider a placeholder value ?

[2018-05-01 18:00] wearpants commented on #917
+1 - mainly using monica for lightweight tracking of business leads, this would be really helpful

[2018-05-01 18:00] wearpants commented on #870
+1 - mainly using monica for business leads, this would seriously streamline my workflow

[2018-05-01 18:02] wearpants commented on #360
+1

[2018-05-01 19:38] wearpants opened #1257 "Contacts 'sort by last activity' sorts by modification time"
I'd expect this sort order to sort by my last activity (phone call etc), but it seems to sort by the last time the record was modified in any way instead.

[2018-05-01 20:00] Erwyn commented on #1224
So haven't found relevant documentation yet, so I think I'm going to use the Gmail SMTP instead.

[2018-05-01 20:48] djaiss commented on #1224
I wonder if Gmail will allow it.

[2018-05-01 21:32] Erwyn commented on #1224
How do you guys do it? you use mailchimp?

[2018-05-02 02:55] djaiss commented on #1224
[Postmark](https://postmarkapp.com/). Always loved them.

[2018-05-02 03:59] djaiss commented on #79
@jeremydenoun you mean a real HTML placeholder? Or a default value?

[2018-05-02 06:37] jeremydenoun commented on #79
Default value appear more usefull but both can have sense

[2018-05-02 07:26] asbiin commented on #1059
Closed by #1256

[2018-05-02 07:26] #1059 closed

[2018-05-02 07:35] #1204 closed

[2018-05-02 07:39] asbiin commented on #1211
@fmcpherson See comment in #1204 :
https://github.com/monicahq/monica/issues/1204#issuecomment-385285043
It seems you are using mysql 8.0, and revert it to mysql 5.7 fix the problem.

[2018-05-02 10:37] kidk commented on #582
@asbiin Are you working on this at the moment? I'm looking at http://sabre.io to use as a library, but don't want to do double work.

My goals would be to allow read/only access to the Monica Contacts through CardDAV and to have calendar setup with CalDAV for reminders and tasks.

[2018-05-02 12:30] asbiin commented on #1203
@lhenze can you try version 2.0.1 please ?

[2018-05-02 20:05] tomzx commented on #1241
@djaiss I think you meant to refer to #1213.

[2018-05-02 20:07] tomzx commented on #1213
Apparently there's many more:

https://github.com/monicahq/monica/blob/da73a6e15d9d06702116fdc89d207d417ebef6ff/app/Http/Controllers/SettingsController.php#L107

https://github.com/monicahq/monica/blob/da73a6e15d9d06702116fdc89d207d417ebef6ff/app/Http/Controllers/SettingsController.php#L145

https://github.com/monicahq/monica/blob/da73a6e15d9d06702116fdc89d207d417ebef6ff/app/Http/Controllers/Api/A

[2018-05-02 20:26] fmcpherson commented on #1211
I am using the official images in Docker Hub, not creating my own. The whole point of Docker is to eliminate these type of dependencies, so it shouldn't matter which version of mysql is on my server.

[2018-05-02 21:28] bmann opened #1262 "Heroku deploy installation updates + missing image"
The "Deploy to Heroku" button links to an image that is missing from the repo.

<img width="700" alt="screenshot 2018-05-02 13 58 09" src="https://user-images.githubusercontent.com/280420/39550099-03985bd4-4e15-11e8-9faa-b92aa683cab7.png">

The link is to https://raw.githubusercontent.com/monicahq/monica/master/public/img/small-logo.png

The installation notes in the wiki https://github.com/monica

[2018-05-02 23:06] djaiss commented on #1213
Oops.

[2018-05-02 23:34] #1232 closed

[2018-05-03 20:11] tomzx commented on #1244
It might be interesting to support 2 styles for this:
* likes/doesn't like
* scale of like (1-10)

The user could decide which style he prefers in the settings. For like/doesn,t like, the value would be stored as 1-10, so that if the user wants to switch between the two, he can. We could also keep the 1-10 scale and return *doesn't like* for values < 5 and *like* for values >= 5.

[2018-05-04 12:39] djaiss commented on #42
@cweagans not yet. This is a huge beast, therefore it'll take some time, but CardDav and CalDav support is something that I'm very passionate about. I would even say that it's absolutely essential. I need to see how we can achieve it.

[2018-05-04 13:53] djaiss commented on #42
For future reference: https://metricloop.com/blog/building-a-calendar-for-a-web-app-without-reinventing-the-wheel

[2018-05-04 21:15] MaMuk commented on #1203
Hi I tried it with the Version 2.1.0 which I got when I ran vagrant box update. But I still get this Error.
I found the offending Setting in the file:
~/.vagrant.d/boxes/monicahq-VAGRANTSLASH-monicahq/2.1.0/virtualbox/box.ovf
[code]
I don't know what exactly that setting is doing, or if I'm breaking something when removing it, but doing so fixed the issue.

[2018-05-04 21:27] fmcpherson opened #1271 "Enable editing of calls"
(Note: you don't need to follow this template, nor to keep headlines or bold sentences - they are just there to guide you. Feel free to delete everything. We review every issue even if we don't immediately respond.)

**Describe the solution you'd like**
Currently you can log phone calls but there is no ability to edit what you enter after you save a call. You can edit activities and notes, so I fi

[2018-05-04 22:08] fmcpherson opened #1273 "Mysql crashes when editing children that aren't contacts"
**Describe the bug**
Adding children to one member or a previously-created spousal (Love) relationship does not consistently relate to both members and ultimately causes mysql to crash with exit code 137.

What I did:
1. Created to contact entries: Ray Anderson and Andrea Anderson, then related the two as spouses.
2. When into Andrea Anderson's record and decided to add Ray & Andrea's children, in

[2018-05-04 23:25] turtles2 commented on #1257
@wearpants Can you provide more info. What version are you running? What steps to reproduce. As I have edited an activity and sorted by last date newest to oldest and it worked. I am running 2.10 which is the newest version.  Could this be confusion on what an activity is? As as far as the sorting is concerned it is only the items under Activities on the Contacts Page.

@djaiss In attempting to re

[2018-05-04 23:31] turtles2 commented on #1271
@djaiss This would be easy enough to implement. The question is would you rather the Edit be in a Modal like creating is or in-line like notes are?

[2018-05-04 23:50] turtles2 commented on #1273
Weird, I tried to reproduce but they would not show up on Rays. I am running the current master which should be 2.1 as well.

Side note, that is due to the HashIds I added to prevent info leakage.

[2018-05-05 03:00] djaiss commented on #1081
This has been done in https://github.com/monicahq/monica/pull/1275

Will be in production soon.

[2018-05-05 03:00] #1081 closed

[2018-05-05 03:01] djaiss commented on #671
Done.

[2018-05-05 03:01] #671 closed

[2018-05-05 03:02] djaiss commented on #429
Done in 2.1.0.

[2018-05-05 03:02] #429 closed

[2018-05-05 03:03] djaiss commented on #107
@turtles2 indeed 😀

[2018-05-05 03:03] #107 closed

[2018-05-05 03:05] djaiss commented on #93
I think it has been fixed.

[2018-05-05 03:05] #93 closed

[2018-05-05 09:48] asbiin commented on #1203
OK I think I've found the glitch.
Can you try last release https://app.vagrantup.com/monicahq/boxes/monicahq/versions/2.1.0 ? I've reuploaded it.

[2018-05-05 12:25] wearpants commented on #1257
Oh, I would have expected a phone call to count for sorting purposes

On Fri, May 4, 2018, 7:25 PM Danny <notifications@github.com> wrote:

[2018-05-05 12:27] jamesmunns opened #1279 "Trouble installing MonicaHQ using docker/compose"
**Describe the bug**
When starting the docker container, Monica fails to connect to the database

**Screenshots**

N/A, I just get a page that says "Whoops, looks like something went wrong"

**Which version are you using:**

Self hosted, latest (v2.1.0)

**Additional context**

Previously I had some problems when updating from v1.8.x to 2.x.x, however I had also messed with the file permissions in

[2018-05-05 12:35] jamesmunns commented on #1279
This may be a duplicate of https://github.com/monicahq/monica/issues/1211. I will try pinning mysql v5.7

[2018-05-05 12:37] jamesmunns commented on #1279
Yes, that worked for me. I will close this ticket. Thanks!

[2018-05-05 12:37] #1279 closed

[2018-05-05 19:38] tomzx commented on #1273
Looks like the daughter <-> son issue is known @ #1182.

[2018-05-05 20:54] #1203 closed

[2018-05-06 20:02] djaiss commented on #1271
@fmcpherson of course we should be able to edit calls - but we haven't done it yet 😀  Lack of time.

@turtles2 I actually don't know what would be best here. The problem is that adding a phone call is not in Vue right now, it's plain old Jquery with full page reload. The best would be to rewrite it with Vue, but, well, while it's an easy task, it's also a bit time consuming. All this to say that i

[2018-05-06 23:07] djaiss commented on #1273
Two things:
* If you had a couple (a father and a mother), currently, if you add 2 kids to the mother, they won't show up on the father contact sheet. Right now this is not possible. Are you sure you haven't linked them differently?
* I can't reproduce the fact that the genders are not the right ones, despite having tried :-/ How can I reproduce the case where genders are wrong?

[2018-05-06 23:07] djaiss commented on #1182
I can't reproduce the fact that the genders are not the right ones, despite having tried :-/ How can I reproduce the case where genders are wrong?

[2018-05-07 01:44] djaiss opened #1286 "Refresh token when it has expired"
Feedback:

This should be a potential solution (https://stackoverflow.com/questions/31449434/handling-expired-token-in-laravel)

[2018-05-07 05:50] jonasvp commented on #1182
I tried to reproduce it and could actually do it from a completely new, blank account:

1. Set browser language to German
2. Sign up to Monica (this creates genders called "Männlich" and "Weiblich" instead of "Male" and "Female")
3. Add a female family connection to a person (daughter, wife)
4. Have the new family connection show up as "Son" or "husband":

![](https://user-images.githubusercontent

[2018-05-07 05:50] jonasvp commented on #1182
PS: I don't think it's a bug, it's a consequence of an earlier design decision interacting with a new feature (configurable genders).

[2018-05-07 11:29] djaiss commented on #1183
@turtles2 thanks! This will be valuable.

[2018-05-07 18:39] Svarto opened #1287 "Connection not secure with production enabled"
**Describe the bug**
When connecting to self-hosted Monica, Firefox complains about an unsecure connection even though app_env=production is enabled and SSL is configured through traefik. It says that only some information is unsafe, such as submitting forms or images.

**Screenshots**
If you can, add screenshots to help explain your problem. An image is always helpful.
**Which version are you usi

[2018-05-08 01:54] djaiss commented on #1257
😀
Yeah I'm totally ok to refactor it and make it right!

[2018-05-08 14:52] i3anaan opened #1290 "standard_init_linux.go:190: exec user process caused "exec format error""
**Describe the bug**
The monicahq container crashes immediately after launch. It was never able to get past this.

**Console output**
[code]
**docker-compose.yml file** (I tried to create a minimal reproducable case)
[code]

**Which version are you using:**
 - Commit: `commit 845d65b8217ae0732042fc271918587bfcadc373` (master)
 - Running on a raspberry pi:
   - ` Linux raspberrypi 4.9.59-v7+ #1047

[2018-05-08 16:30] #852 closed

[2018-05-09 07:45] jonasvp opened #1299 "Contact search dropdown shows non-contacts that link to nowhere"
**Describe the bug**
When searching for people in the top bar, it shows non-contacts: for instance, children or spouses that haven't been turned into "real" contact entries. When selecting them, I get redirected to the list of contacts, however.

**Expected behaviour**
When selecting a non-contact, I'd like to get redirected to the contact that the non-contact was assigned to.

**Screenshots**
![D

[2018-05-09 08:03] jarradh commented on #792
+1 mobile layout is broken, i want to use Monica on the go 90% of the time

[2018-05-09 17:09] turtles2 commented on #1257
@djaiss I don't believe there is a bug here only confusion on what an Activity is. Per @wearpants

 if that is the case we should go ahead and close this

[2018-05-10 11:36] djaiss commented on #1299
Indeed it's a bug that we need to solve and that bothers me as well 😀

[2018-05-10 11:37] djaiss opened #1302 "Editing multiple notes at the same time only edits one note"
Actual behaviour:

When editing multiple notes at the same time (klicking "edit" on
multiple notes), when saving one note all notes are set back to non-edit
mode, and all changes in other notes but the one just saved are discarded.

Expected behaviour:

When editing multiple notes klicking on save only the saved note should
return to non-edit note, the others should stay open.

[2018-05-10 11:39] djaiss opened #1303 "Add ex wife/husband as a relationship"

[2018-05-10 11:53] asbiin commented on #1183
OK I'm working on it.
Problem: if a user is logged out, and has registered with a fake email ... it will not be able to validate the email, nor to change it, because he will not be able to log in after that.
Any idea ?

[2018-05-10 11:53] djaiss commented on #79
Feedback from various users:

I think I would not use the feature you are describing. I think most of my relationships do not share enough similarity to have a pattern for the fields. I think the simpler version, where I can define a custom field (like Political Opinion), then apply that field to contacts I choose, would be powerful enough for my needs.

[2018-05-10 11:54] djaiss opened #1304 "Make SMS link clickable"
Right now SMS field is not clickable. It should be so it opens the default OS app that let you send messages.

https://developer.apple.com/library/content/featuredarticles/iPhoneURLScheme_Reference/SMSLinks/SMSLinks.html#//apple_ref/doc/uid/TP40007899-CH7-SW1

[2018-05-10 12:42] turtles2 commented on #1183
Why not allow a user to only log in to change there email? As in if they have not yet confirmed there email and they log in they go to a page that allows them to re-send confirm or change there email?

[2018-05-10 13:43] jeremydenoun commented on #79
AMHO they miss real power of custom fields, if we easily imagine advantage to structure the data (filters, compute, sort easily)

if you add APIs capability on it... this open external plugin compatibility and third-party apps to others developers... I imagine application like smart social link finder and I think my contact manager shouldn’t lock me with fixed structure or impose to use a single u

[2018-05-10 14:00] nickescobedo commented on #1304
@djaiss Can I take this? I noticed the good first issue label. 😄

[2018-05-10 14:10] djaiss commented on #1183
Here are how we should do. This will work for both new users and existing ones.
- We should add a `email_confirmed` boolean to User object that defaults to false
- User signs up or signs in
- User clicks on OK button
- The next page depends on the state of the user:
  - If new user:
    - display "We've sent you an email" screen - this can't be bypassed
    - send email
    - click on email, displ

[2018-05-10 14:36] danielpieper commented on #1287
Unfortunately this is not a .env configuration issue and must be implemented as described in the laravel documentation link above.

[2018-05-10 16:15] asbiin commented on #1211
Reverting to mysql 5.7 solve the problem

[2018-05-10 16:15] #1211 closed

[2018-05-10 18:08] cruzken commented on #1047
It seems that the images want to be responsive to its container regardless of the width css-class its using (in this case `w3`.)

@djaiss I'd like to submit a pr to fix this issue by adding the css-class `mw-none` to avatar images if that's ok?

![monica-avatar-css-mwnone](https://user-images.githubusercontent.com/11887494/39885477-b6129cfc-545a-11e8-9093-d7461908a918.png)

[2018-05-11 12:51] nickescobedo commented on #1304
@djaiss
Which SMS field are you referring to? Someone can add a contact field type with the sms: protocol. Are you saying to have a default SMS contact field out of the box on a fresh install? Thanks!

[2018-05-11 17:51] i3anaan commented on #1290
Okay so this was actually part my side:
The error was thrown because the container downloaded using `pull` was not an arm container, while the hardware was arm architecture.

What is really confusing to me, and maybe this is something to look into, is that I got an error message saying that no mysql container was found for my architecture. I accepted this and switched to a postgres database, but b

[2018-05-11 20:40] turtles2 commented on #870
@djaiss I would like to work on the back-end for this. Since the hosted version already uses Postmark my plan is to work with there API unless I can find a good Laravel package.

[2018-05-11 21:02] kidk opened #1310 "Missing requirement: pragmarx/countries-laravel"
When I try to run 'php artisan setup:test' I get a missing requirement for 'pragmarx/countries-laravel.

Is this outdated or should I create a pull request for the requirement?

Simple `composer require pragmarx/countries-laravel` works.

[2018-05-11 22:28] turtles2 commented on #870
I am thinking that we use the sending address on the email to tie to a user as we are assuming its being forwarded from there email correct?

[2018-05-12 08:05] asbiin commented on #1310
Hi!
`pragmarx/countries-laravel` is already required by composer:
https://github.com/monicahq/monica/blob/master/composer.json#L29
A simple `composer install` should have solved your problem here.

[2018-05-12 08:43] Ethunxxx opened #1315 "German translation not complete"
The German translations in /resources/lang/de/app.php are not complete. Some words still remain in English, e.g. the German word for niece is still in English.

[2018-05-12 09:49] asbiin commented on #1315
Hello.
Please read https://github.com/monicahq/monica/wiki/Contribute-to-the-translation
You are very welcome to help contribute to the translation, updating it on: https://crowdin.com/project/monicahq

Thank you

[2018-05-12 09:49] #1315 closed

[2018-05-12 16:48] kidk commented on #1310
You are correct. Strange, must have failed the install in the beginning.

Thanks for the response.

[2018-05-12 16:48] #1310 closed

[2018-05-12 17:43] djaiss commented on #870
@turtles2 that would be excellent. I found a package for this a while ago, don't remember the name...

I don't know how you want to do that, but here is what I think we should do: follow what [Highrise does](https://help.highrisehq.com/email/email-intro/#how-do-you-find-your-dropbox-address). I don't see any other way actually. Can you explain how you want to do this? This will also require some s

[2018-05-12 17:49] turtles2 commented on #870
I am on Mobile so I won't go into details but hopefully tonight or tomorrow
I will push to the PR and you will be able to see what I have in mind. It
is going to be a rough proff of concept.

On Sat, May 12, 2018, 12:43 PM Régis Freyd <notifications@github.com> wrote:

[2018-05-13 12:25] djaiss opened #1323 "Remove tests for PHP 7.1"
This is a duplication and it takes too much time.

[2018-05-13 13:09] #1056 closed

[2018-05-13 13:51] Ethunxxx opened #1327 "Automatically ask to add dependent family relationships"
As an example: When one adds a parent to a contact that has children, there should be a field asking the user whether the children should be added as grand children to their grand parents as well (and vice versa).

I think this should be the default behaviour with a possibility to opt-out.

[2018-05-13 14:07] asbiin commented on #167
#1117 solved this issue

[2018-05-13 14:07] #167 closed

[2018-05-13 14:09] asbiin commented on #1323
OK that's your call ;) I'll do it.

[2018-05-13 15:03] djaiss commented on #1182
Thanks @jonasvp
I'm going to fix this.

[2018-05-13 15:33] turtles2 commented on #1327
I am putting this here to help organize issues Duplicate of #1255

[2018-05-13 16:38] #1323 closed

[2018-05-13 20:15] #563 closed

[2018-05-14 00:45] djaiss commented on #1182
The entire way of how genders are handled in Monica is crap. Values are hardcoded - why on earth did I do that 😀

I need to change the entire system to make it better.

[2018-05-14 00:56] #1257 closed

[2018-05-14 01:06] #1299 closed

[2018-05-14 08:03] coodeneko opened #1336 "Countries drop down no longer populated after upgrade to 2.1.1"
After upgrading my personal server to version 2.1.1 from 2.1.0 the countries drop down is no longer populating with data. The /countries is returning with a 404 error.

[2018-05-14 12:41] turtles2 commented on #1336
When upgrading did you run migrations and composer update? As Countries were switched to an external package in 2.1.1 @asbiin Implemented this if what I suggested above does not fix it please post the specific 404 error you are getting along with more info on your setup to help troubleshoot.

[2018-05-14 22:48] coodeneko commented on #1336
I ran both command as required by https://github.com/monicahq/monica/wiki/Update-your-server during the upgrade.

I am running:
Ubuntu 16.04.4
Nginx 1.14.0
PHP 7.2.5
MySQL 5.7.22
I am running in production mode.

Nginx nor php log no errors. It looks like monica should be generating some sort of log in storage/logs but the folder is empty. I tried switching to the syslog channel but still no error

[2018-05-15 00:51] coodeneko commented on #1336
I figured out my problem. The route cache wasn't cleared after the update. Clearing it solved the issue. Thanks for the help @turtles2 and @asbiin.

If anyone else experiences it the command is `php artisan route:clear`.

[2018-05-15 00:51] #1336 closed

[2018-05-15 01:44] coodeneko opened #1337 "Alternative generated avatar option"
Currently the generated avatars only handle letters from the English alphabet and numbers. This works great in a large number of countries that use Latin lettering, but doesn't work too great for Japanese contacts that I enter.

I am proposing to add a secondary option to switch to using the first three characters from the last name for the avatar.

![avatar alternative](https://user-images.github

[2018-05-15 05:37] austinlg96 opened #1338 "Contact tags duplicate when filtering contacts."
**Describe the bug**
Go to monicahq.com/people.
Click on a tag.
Click on the same tag again.
The tag is now duplicated in the filter instead of A) removed from the filter or B) nothing.
For example it says: "Showing all contacts tagged with: [- Red] [- Red]"
It appears that there is no limit to the number of duplicates and that using other tags has no effect on them.

**Which version are you using

[2018-05-15 05:56] austinlg96 commented on #1255
Maybe I am thinking too big for the moment, but it would be nice to just have a "Recommendations" tab with a list of recommended changes with an even greater scope than relationships.

For example, I just did a vCard import of nearly 10 years of poorly maintained phone contacts. I have people missing last names, people with symbols in their names, people that aren't people ( #BAL doesn't need to b

[2018-05-15 13:21] milliams opened #1339 "Email reminders are very shouty"
When a reminder email is received it looks something like:
[code]
This comes across as very shouty where simply making these lower-case would help.

Looking at the source this is defined in `monica/public/js/langs/en.json`, `monica/resources/lang/en/mail.php` and `monica/resources/lang/es/mail.php`. I'm not sure why it is repeated in these files but changing the content of `want_reminded_of` to `'

[2018-05-15 15:27] turtles2 commented on #1338
This is indeed a bug. @djaiss I will get this fixed.

[2018-05-16 09:17] jonasvp opened #1343 "Clicking "Add" when adding a person acts like I clicked "Save and add another""
**Describe the bug**
1. I fill out the form on https://app.monicahq.com/people/add
2. I click "Add"
3. The person gets added and I get redirected to the same form to add another person

**Expected behaviour**
3. I get redirected to the detail page to edit the recently added contact

**Which version are you using:**
 - Hosted version on https://app.monicahq.com

[2018-05-16 20:10] TheGP commented on #982
Yes, it should has ability to add some posts to the past, in case you forget to add it before

[2018-05-16 20:14] TheGP opened #1345 "Do not show deceased people on dashboard & list"
Currently, it shows deceased people right on the dashboard.

I use this feature for people I stop contacting. But if it would be real deceased people, it will remind about them always, which is not good.

So I suggest to remove them in a dashboard at least. And, maybe, from the list of contacts too (could make a small link to show them back, as they like in some sort of archive)

[2018-05-16 22:57] #1338 closed

[2018-05-16 23:12] #1303 closed

[2018-05-17 20:11] sfeu commented on #1017
This would be absolutely awesome!

[2018-05-18 12:32] djaiss commented on #1345
Good idea! you are right.

[2018-05-18 13:08] TheGP commented on #1244
Sounds like leads scoring, good idea.

[2018-05-19 15:31] lpefferkorn opened #1349 "Syntax error during composer dependencies install"
Hello,

While trying to install Monica on my own server according the the [documentation](https://github.com/monicahq/monica/wiki/Installing-Monica-on-Debian), at the ```composer install --no-interaction --no-suggest --no-dev --ignore-platform-reqs``` step I get the following error:
[code]

I am using a fresh Debian Stretch - 9 install, please find below more details:

* Monica version 2.1.1
[code

[2018-05-19 16:43] asbiin commented on #1349
Thanks!
You'r right, the documentation is not up to date: monica needs php >= 7.1 now.
We should update the documentation in consequence.

[2018-05-19 16:52] lpefferkorn commented on #1349
Thanks for the quick update, seems trivial to fix https://github.com/monicahq/monica/pull/1350

[2018-05-19 17:55] lpefferkorn commented on #1349
I confirm this works now with php-7.1

[2018-05-20 02:48] GavinXue opened #1352 "[error] local.ERROR: could not find driver"
**Describe the bug**
I have been install monica on ubuntu 16.04, when I run
[code]

but when I visit the site, I got the error `Whoops, looks like something went wrong.`  I have check the laravel-2018-05-20.log, and get two like
[code]

What should I do to fix the problem. thx~

[2018-05-20 08:29] #137 closed

[2018-05-20 17:47] superstrong opened #1354 "Deleting a user results in a broken self-hosted app"
**Describe the bug**
After deleting a user, the users screen still displays fine. I can proceed to delete more users or modify users.

**Screenshots**
This is what the app looks like after I've deleted a user and left the users screen. https://dsh.re/4910d

**Which version are you using:**
 - Hosted Monica v. 2.1.1  on Heroku

**Additional context**
The app works again if I restore the DB (ClearDB

[2018-05-20 18:06] superstrong opened #1355 "Error when attempting to generate a personal access token on self-hosted version"
**Describe the bug**
When I attempt to create a personal access token, I am asked to provide a name. After providing a short name ("local"), I receive an error page:

[code]

**Screenshots**
https://dsh.re/f3821

**Which version are you using:**
 - Self-hosted v 2.1.1 on Heroku with ClearDB, free version of everything

**Additional context**
I am able to generate a token with the exact same name (

[2018-05-20 18:23] marbetschar opened #1356 "Adding debt in Safari on macOS not possible"
**Describe the bug**
If you want to add a new debt on macOS using Safari, it shows an error message that the form is unsafe and asks is you really want to submit. As soon as you submit the form monica redirects to the dashboard - without adding the debt. Tested in Chrome too - there it works.

**Screenshots**
<img width="1273" alt="bildschirmfoto 2018-05-20 um 20 22 10" src="https://user-images.gi

[2018-05-20 20:54] #1343 closed

[2018-05-20 21:36] lostfocus commented on #917
+1 Yepp!

[2018-05-21 08:01] Ethunxxx opened #1362 "Add description on how to start application"
So far, I'm not very experienced with applications like Monica, but I'm eager to learn and eventually contribute. I followed the [installation steps for Ubuntu](https://github.com/monicahq/monica/wiki/Installing-Monica-on-Ubuntu) and now have everything setup. However, the Wiki page does not say how I can start Monica on my computer. Could this be added somewhere, please?

[2018-05-21 11:26] cruisemaniac opened #1363 "Is there a SaaS like option for self hosted installs?"
Hi team,

Monica seems to be a wonderful tool. I've looked around and per my understanding there is no SaaS-ified offering of this tool. Only ONE user can store all contacts and details. Any other user added can see the same details.

Is there a way out of this or is this a new feature / in the pipeline ?

[2018-05-21 11:38] djaiss commented on #1363
@cruisemaniac unfortunately this is not yet possible. Why would you need this kind of feature?

[2018-05-21 11:41] djaiss commented on #1362
Indeed we need instructions then on how to configure either Apache or Nginx.

If you are inexperienced I would say to try to install Monica with either [Vagrant](https://github.com/monicahq/monica/wiki/Installing-Monica-on-Vagrant) or [Homestead](https://laravel.com/docs/5.6/homestead), which is a Vagrant box maintained by Laravel. These are the easiest options.

[2018-05-21 11:42] djaiss commented on #1355
@superstrong this looks like you haven't run `php artisan passport:install` to generate the initial keys.

[2018-05-21 11:44] djaiss commented on #1352
@asbiin do you have an idea of what could be wrong? I don't see what the error could be, except an error in how mySQL was setup locally, probably.

[2018-05-21 11:45] #1349 closed

[2018-05-21 12:06] superstrong commented on #1355
@djaiss Thanks, I did not see those instructions, they are not included on the Heroku installation page --  it is quite easy to go from zero to Heroku installation without seeing that there is a bunch of other stuff to be done.

[2018-05-21 12:48] superstrong opened #1364 "[Wiki] Add Heroku instructions for creating personal access tokens"
I've proposed changes to the wiki here to help those running on Heroku: https://github.com/superstrong/monica-wiki/commit/6708dfb621400a19eecbf572d50fcd69cefca650

[2018-05-21 12:49] superstrong commented on #1355
I proposed the update here https://github.com/monicahq/monica/issues/1364

[2018-05-21 14:35] djaiss opened #1366 "First met date shouldn't be a special date in the API"

[2018-05-21 14:51] cruisemaniac commented on #1363
@djaiss Let me repeat what you said - I can have multiple accounts on an instance - This means individual journals, contacts, etc. This is pretty much what I want.

I'm not sure what I missed when going over the few screens that I saw. Can you point me to documentation please?

[2018-05-21 15:02] cruisemaniac opened #1367 "Enable tinker in production mode"
Coming from the rails console mode of working, not finding tinker installed as part of production was a bummer.

Is there a specific reason why this decision was made?

To be able to add / remove accounts / users in prod mode when registration is disabled is hard without tinker IMO.

[2018-05-21 15:26] cruisemaniac opened #1368 "Imported contact lists Organization name under Job instead of Company"
I imported my contacts from Google contacts (Export as iOS vCard) into Monica.

Post the import, I noticed that for contacts that have an Organization field saved, that organization name is listed under job instead of company which is set as null.

[2018-05-21 15:27] cruisemaniac opened #1369 "Import contacts (iOS vcf format) runs infinitely"
![Uploading Screen Shot 2018-05-21 at 9.05.13 PM.png…]()
The contacts import task (run from `php artisan queue:work`) doesnt want to stop.

Post killing it with `^C`, I know have a few thousand copies of each contact. Is there a way I can debug this?

Screenshot attached for reference.

[2018-05-21 15:35] djaiss commented on #1363
I don't understand your comment.

You can create an account, then in your account you can invite someone else if you want - in that case, for your account (and yours only), you can have you and the ones you invite access the same data. **The same data**.

If you need individual journals, contacts,  etc... per user, you need as many different accounts as users, which is possible on https://monicahq

[2018-05-21 15:37] cruisemaniac commented on #1363
@djaiss Got this... And just figured it out as well.

I'll close this request.

Thanks!

[2018-05-21 15:37] #1363 closed

[2018-05-21 15:39] djaiss commented on #1369
Which version are you using? This shouldn't happen anymore since 2.1.1.

To debug you can check your logs in `storage/logs` if you have setup the logs in your `.env` file (`LOG_CHANNEL=daily` for instance).

You can also check what is happening in the db, in the tables `failed_jobs` or `jobs`, and see what's going on here.

[2018-05-21 15:40] cruisemaniac commented on #1224
I run my own mail server and just set it up to work with monica. Like its mentioned above in the comments, all you're required to do is to put in the corresponding settings in the `MAIL_` section in the `.env` file.

This really doesnt have anything to do with monica per-se and is more of the laravel standard feature set.

[2018-05-21 15:40] djaiss commented on #1367
Because the codebase is originally Laravel 5.2 and it wasn't included at the time, I think.

And this is something we've missed during upgrade. Going to change the title of this issue so we know it's a feature request.

[2018-05-21 15:42] cruisemaniac commented on #1369
@djaiss I'm on `tags/1.6.2` per the link here: [Wiki](https://github.com/monicahq/monica/wiki/Installing-Monica-on-Ubuntu).

Perhaps the wiki should also be updated? The Release page shows 2.1.1. But since I was in a hurry setting it up for someone, I just went with Copy - Paste! My bad???

[2018-05-21 15:55] cruisemaniac commented on #1050
@cmatera, @mbuc This is mine:

[code]

[2018-05-21 15:57] cruisemaniac commented on #1369
@djaiss I moved my installation to `tags/v2.1.1` and the behaviour still persists.

I've done a reset all your data from the account settings page and started an import again.

Can you tell me if I'm missing some portion of the process?

[2018-05-21 16:01] cruisemaniac opened #1370 "DB reset errors out"
A `php artisan migrate:reset` gives the following error:

[code]

[2018-05-21 16:07] cruisemaniac opened #1371 "monica:update --force fails with symlink() error"
`monica:update --force` seems to be trying to symlink a storage directory.

Is this a valid error?
[code]

My storage folder is at `/var/www/monica/storage`.

What is the symlink command trying to create a link for

[2018-05-21 17:36] asbiin commented on #1371
Hi.
This error is due to
- directory rights
- apache configuration
- laravel
- storage move
depending on your case.

It's not related to the project itself.

[2018-05-21 17:36] #1371 closed

[2018-05-21 17:39] asbiin commented on #1370
You can use `php artisan migrate:fresh` instead of `migrate:reset`, or use `migrate:rollback`.

[2018-05-21 18:05] cruisemaniac commented on #1370
@asbiin Agree. And Noted. Thanks!

[2018-05-21 18:47] tomzx commented on #1352
It's also possible the PHP install is missing the PDO extension (is it enabled (and not commented out) in `php.ini`? see `extension=pdo_mysql`)

[2018-05-21 19:09] djaiss commented on #1371
You can fix this by removing the symbolic link in `public/storage`

[2018-05-21 19:12] djaiss commented on #1364
Thanks a lot! I've applied your changes in our wiki! 🎉 😀

[2018-05-21 19:12] #1364 closed

[2018-05-21 20:54] tomzx commented on #1368
Looks like a duplicate of #1150.

[2018-05-21 21:06] tomzx commented on #1354
So you're saying that all you see rendered on the page is the few items in the screenshot?

[2018-05-21 21:08] tomzx commented on #1290
@i3anaan Can this be closed then?

[2018-05-22 01:28] superstrong commented on #1354
@tomzx Sorry, had the wrong screenshot. I replaced the link. That's what I see after I click away from `/people/*` in this scenario.

[2018-05-22 02:36] superstrong commented on #1355
Sorry, I spoke too soon, this is still not working.

I am trying to curl locally in order to interact with my self-hosted app. (Specifically, I'm trying to bulk-delete a bunch of contacts that got imported incorrectly.

When I follow the [instructions](https://github.com/monicahq/monica/wiki/Installing-Monica-(Generic)) for installing Monica on your own server, it directs me to run `php artisan pa

[2018-05-22 02:42] cruisemaniac commented on #1368
@tomzx I'm on `tags/v2.1.1'. This is the latest per the [releases](https://github.com/monicahq/monica/releases) page.

[2018-05-22 02:43] cruisemaniac commented on #1369
This error still remains

[2018-05-22 03:27] djaiss opened #1376 "Concept of important dates"
Right now we have reminders to remind us about events that we care about (and therefore about a specific date).

However, we might want to write down dates that are important to you about this contact, but that we don't need to be reminded about.

[2018-05-22 03:31] tomzx commented on #1354
@superstrong Would you mind either turning on `APP_DEBUG=true` (if it is not a production environment) or looking at the logs in `laravel.log`?

[2018-05-22 07:09] #1370 closed

[2018-05-22 07:42] cruisemaniac commented on #1371
@djaiss your idea worked... Thanks!

[2018-05-22 15:54] xJMV opened #1380 "Wiki - Update instructions"
Location: https://github.com/monicahq/monica/wiki/Update-your-server

Before point #4 user should CD to monica directory and execute "git pull" command to update local git. Otherwise user will get an error : «error: pathspec 'tags/2.1.1' did not match any file(s) known to git.»

[2018-05-22 16:27] asbiin opened #1381 "Email validation form differ"
Validation of email field is not the same on register form and settings form:
[SettingsRequest.php#L29](https://github.com/monicahq/monica/blob/master/app/Http/Requests/SettingsRequest.php#L29)
`'email' => 'required|email|max:2083|unique:users,email,'.$this->id,`
[RegisterController.php#L72](https://github.com/monicahq/monica/blob/master/app/Http/Controllers/Auth/RegisterController.php#L72)
`'emai

[2018-05-22 16:44] djaiss commented on #79
@jeremydenoun when we'll have custom fields, everything will be available through the API as well. I don't want any data that can't be manipulated by the API in some ways.

[2018-05-22 16:45] jeremydenoun commented on #79
so this is perfect ^^

[2018-05-22 16:46] djaiss commented on #362
It's coming in the next release!

[2018-05-22 16:54] djaiss commented on #1381
I'm pretty sure SettingsRequest is an error. I'll check this.

[2018-05-22 21:57] #1287 closed

[2018-05-23 12:13] superstrong commented on #1354
@tomzx Hmm, I do not have a `laravel.log` file anywhere. I'm also not sure how to reliably turn on debug mode in Heroku, as my understanding is there's no direct access to the dyno.

[2018-05-23 12:16] superstrong opened #1385 "Slack workspace for this community"
Having technical discussions via Github comments can be painfully slow and low-resolution.

A Slack workspace where people can, when ready, engage in deeper synchronous discussions can be super productive. Adding [slackin](https://github.com/rauchg/slackin) makes it possible for people to self-invite themselves from a link.

[2018-05-23 16:49] tomzx commented on #1354
@superstrong They appear to have something, see https://devcenter.heroku.com/articles/exec. Although it appears you can't use that for "one-off" dyno (see https://devcenter.heroku.com/articles/exec#connection). You could look into using https://devcenter.heroku.com/articles/exec#copying-files-from-a-dyno to attempt to copy the file to your computer.

I'm not familiar with the deployment procedure

[2018-05-24 11:36] djaiss commented on #1385
We do have one actually 🙈
But it's only for the core members right now. I'll add Slackin and open the channel for everyone, it's a great idea.

[2018-05-24 12:05] ethanquix opened #1386 "Some links in docker version redirect to localhost despite APP_URL set to custom domain"
**Describe the bug**
The docker version of Monica has a lot of links which redirect to localhost and not the custom URL.
Example,
- The 'add someone' button redirect to 'my_custom_domain.com/people/add'
- The 'contact' button in the contact list redirect to 'localhost:MY_PORT/people/h:XXXXXX'

**Which version are you using:**
- Latest docker image taken from the docker hub with docker.compose set

[2018-05-24 22:01] sfeu commented on #1020
I would also would vote for an opportunity to test mail sending with detailed logging, as i am still unable to get the reminders up and running.

What i miss is some logging about what's going on. if i execute `php artisan send:notifications`. i also tried to set `APP_DEBUG=true` but the server logs remain empty regarding sending mail attempts.

[2018-05-25 08:27] #168 closed

[2018-05-25 20:34] sharx0r commented on #1356
I got a similar error when adding activities. I'm running monica in docker behind HAProxy. i have HAProxy working with https and let'sencrypt. While accessing monica via HAProxy and trying to add an activity i get an error 405:

(From the docker container's log:)

I do not get this error when accessing the docker container directly via it's ip + port. At least not in chrome + firefox. Sadly i can

[2018-05-25 21:13] #1201 closed

[2018-05-26 18:03] tomzx commented on #1385
There's technically also https://gitter.im/monicahq/monica, but I believe it's rarely ever used.

[2018-05-27 16:16] uiharu-s commented on #835
Running an instance provisioned with cloudron.io
Getting insecure connection warnings for most form submissions, but data successfully submits if I make an exception.
Cloudron's Monica repo: https://git.cloudron.io/cloudron/monica-app

[2018-05-27 17:47] Svarto opened #1395 "Mobile application php artisan commands not working with docker container"
**Describe the bug**
I have Monica installed using a separate docker container, I am getting an error when I try to generate the Mobile Client ID and Secret.

I am self-hosting and on the latest version, 2.1.1.

I begin with running this to get a shell:
`docker run --env-file .env -it monicahq/monicahq shell`

Then I run this inside the docker shell:
`php artisan passport:client --password`

I get

[2018-05-28 06:37] Immortalin opened #1396 "New Server Config Issue"
**Describe the bug**
Unable to produce desired result when following setup instructions from wiki

**Screenshots**
[code]

**Which version are you using:**

 - A server you maintain yourself (if so, please indicate your current version of Monica)
v2.1.1, docker-compose

[2018-05-28 13:03] justinkelly opened #1400 "Class (grade or year) for a contacts child (or contact)"
1 feature that I would find very usefully is being able to see the school year level that a friends child is in - and have monica auto increment/guess the year each year

say in 2016 I put the child as in grade 3
if i open monica now i would like to see that the child is in (or most likely is) in grade 5

i understand that each country has its own school year/grade/class numbers

ie in Australia w

[2018-05-28 15:40] #1183 closed

[2018-05-28 20:44] Svarto commented on #1395
I found that you can enter the docker by using "sh" instead of "bash", i.e.

`docker exec -it <container-name> sh `

and then navigating to:

`/var/www/monica`

to run php artisan commands.

[2018-05-28 20:44] #1395 closed

[2018-05-29 02:06] turtles2 commented on #1396
Did composer give you any errors? Do you have the right file permissions?

[2018-05-30 03:23] djaiss opened #1404 "Monica asks to confirm email even for instances set to not confirm emails"
If I don't set `APP_SIGNUP_DOUBLE_OPTIN`, it should default to false.

Therefore, it should not require to confirm email on login.

However, Monica asks to confirm the email even if the env variable is not set.

I think this is because `registered()` (https://github.com/monicahq/monica/blob/master/app/Http/Controllers/Auth/RegisterController.php#L111) is not called anywhere.

[2018-05-30 08:06] zaroth commented on #1050
Here's mine. Monica is hosted via official docker container on port 13001.

[code]

[2018-05-30 08:16] zaroth commented on #835
Just writing to say that when running a similar setup to @jwynn6 the suggestion by @realdavidops doesn't work. My `APP_ENV` has been set to `production `all along and I still get "parts of this page are not secure" warning.

[2018-05-30 09:03] zaroth commented on #835
I can segregate the SSL warnings showed by the browser into two cases (my configuration is an NGINX reverse proxy providing SSL offloading for the docker container made from official image, see more [here](https://github.com/monicahq/monica/issues/1050#issuecomment-393069446)) :

- The avatars hosted by Monica seem to have URLs passed with a `http://` prefix and therefore have to be redirected by

[2018-05-30 21:30] tomgs opened #1408 "Installing Monica on a remote server - default homepage #249"
Hey, just got wind of this project. Been looking for something like this for years!

I've spun up a new droplet on DigitalOcean (Ubuntu 16.04 LTS) and followed the installation instructions closely. When done, I got the "Welcome to monica" prompt, but when I access my server's IP I get the Apache2 Ubuntu Default Page.

Any thoughts why this might happen?

[2018-05-30 21:40] asbiin commented on #1404
Should'nt we just change `true` to `false` in https://github.com/monicahq/monica/blob/master/config/monica.php#L23 ?

[2018-05-30 22:14] Mokto commented on #1385
@superstrong you can now access our slack via this link https://slack.monicahq.com/.

See you on slack !

[2018-05-30 22:14] #1385 closed

[2018-05-30 22:31] djaiss commented on #1404
@asbiin exactly. Good point. I'll do it tonight.

[2018-05-30 22:31] djaiss commented on #1404
Oh you already submitted a PR. I'll take a look.

[2018-05-30 22:34] #1404 closed

[2018-05-31 03:07] djaiss commented on #1408
Hi @tomgs

Do you have an idea of what could be wrong @asbiin ?

[2018-05-31 03:09] djaiss commented on #1400
Interesting idea. I like it - we would need to find a flexible system for this to make sense for everyone.

[2018-05-31 19:33] Svarto opened #1422 "New version GDRP requirement breaks login"
**Describe the bug**
I updated to 2.2.0 and try to log in, I get asked to confirm my email address, when clicking on the button I get redirected to a www.mymonica.com/:url which doesn't exist and results in a "page not found error". No email confirmation is sent.

**Screenshots**
self hosted version, just updated to 2.2.0

**Additional context**
I have received email reminder just fine, so the ema

[2018-05-31 19:59] djaiss commented on #1422
@Svarto the patch is already on master, we haven't pushed a new version yet.

In a few hours we'll publish 2.2.1 with the fix.

[2018-05-31 20:01] asbiin commented on #1422
Indeed, sorry for that. It's already fixed in #1414 and #1416
The correct url is: /confirmation/resend

[2018-05-31 20:59] asbiin commented on #1422
Version v2.2.1 fix this

[2018-05-31 20:59] #1422 closed

[2018-05-31 23:26] djaiss opened #1426 "When importing contacts through vCard, also import notes"

[2018-05-31 23:26] djaiss opened #1427 "Add calendar view for reminders"

[2018-05-31 23:34] djaiss opened #1428 "Add ability to mass delete reminders"
Feedback from one of our users:

[2018-06-01 08:02] tomgs opened #1431 "Documentation: Edit to the Ubuntu Installation WIki"
Hey Guys,

At least on Ubuntu there's a difficulty in determining which php modules composer will need to do its job. I've listed all the packages along with some helpful instructions on how to install Monica on a standalone Ubuntu server on a document, and would be happy to add it to the documentation to ease installation.

I can't see a way to open up a pull request for the wiki - can I just pos

[2018-06-01 08:59] huuthanhdtd opened #1432 "Create a Family tree pls"
Could you create a family tree. Thank you

[2018-06-01 20:09] jappareti opened #1433 "Can't login to default accounts after clean install"
After a fresh install on my local system with Valet, I tried logging into `admin@admin.com` with password `admin`, and I got the error that I need to verify the email address. Not sure how I would go about verifying `admin@admin.com` 🤔

I have `APP_SIGNUP_DOUBLE_OPTIN=false` set in my `.env.dev`. I registered a user within an email verification and was able to login no problem.

I think it's happe

[2018-06-01 20:38] asbiin commented on #1433
Yes ! you're probably right !
For this feature, I din't use setup:test command, I generally created a new blank user with the UI form. Thus the setup:test was not tested !
I will fix this, unless you want to help us @jappareti ?

[2018-06-01 21:10] jappareti commented on #1433
Sure I can take look!

[2018-06-01 21:11] tomgs commented on #1431
Great, here it is:

https://github.com/tomgs/MonicaWikiUpdates

[2018-06-02 01:31] Dagolin commented on #1017
It's a fantastic idea, sometime I just cannot recall my contacts very well, and the name based search dose not help much. To move the discussion forward I am preparing a **sample** prototype to see how we are going to accomplish this.

![image](https://user-images.githubusercontent.com/15082118/40869091-9f9b4c04-6647-11e8-8625-19efec16b7d9.png)

https://xd.adobe.com/view/a4a6ad1e-f26b-462f-46ab-74

[2018-06-02 09:48] tomgs commented on #1408
Is it possible that I need to change the apache configuration to point to the right place? I installed monica in the root folder of my server, so perhaps I should edit sites-available (put the monica folder there) and sites-enabled (add a new block for the monica app) and see if it works? Will try that now.

[2018-06-02 10:03] tomgs commented on #1408
Yep, that was it. Followed the instructions [here](https://www.howtoforge.com/tutorial/install-laravel-on-ubuntu-for-apache/) and I can see the Monica sign-up page!

I think this should be stated more clearly inside the ubuntu installation guide. I'll insert that into the repo as well.

[2018-06-02 10:06] sfeu opened #1436 "SMTP setup and logging"
I have no success in setting up the connection to a mail server. Currently I am using the docker image and my biggest problem is that i am not able to configure any helpful logging that could give me an idea what wents wrong or if at least the mail server gets contacted.

i tried:
APP_ENV = local
APP_DEBUG = true
inspected the logs created in storage and the docker logs

Currently i am trying to t

[2018-06-02 10:34] tomgs commented on #1408
Just [updated the repo](https://github.com/tomgs/MonicaWikiUpdates) - let me know if it's OK an we can close this issue. ;)

[2018-06-02 12:35] catatonik opened #1437 "SQL error when adding a new person (Monica 2.2.1, PostgreSQL)"
**Describe the bug**
The only options I have when adding a new person are: First name, Surname, Gender. If I populate all 3 I get the below SQL error:

[code]

**Which version are you using:**
 - A server you maintain yourself
-- Monica Version: 2.2.1
-- PHP 7.2.5-1
-- PostgreSQL 10.4
-- Debian 9.4

**Additional context**
More of the error from debug:

[code]

[2018-06-02 13:59] Dagolin opened #1438 "Avatar in 'Journal' page links to nowhere"
**Describe the bug**

![b](https://user-images.githubusercontent.com/15082118/40877259-3abc29fc-66b0-11e8-9097-5295df359be6.gif)

[2018-06-02 15:10] Dagolin commented on #109
https://fullcalendar.io/ looks great.

[2018-06-02 22:50] lpefferkorn commented on #1436
Same issue for me, without logs I am unable to troubleshoot.

[2018-06-03 01:31] kissgyorgy opened #1439 "monica does NOT work on Ubuntu 16.04"
**Describe the bug**
The [wiki installation instruction page](https://github.com/monicahq/monica/wiki/Installation-instructions) states that:

which is not true, because `composer install --no-interaction --no-dev` says that at least PHP 7.1 is needed. Please fix the Wiki page with the correct OS. (I tried with PHP 7.0 with 2.2.1 and it doesn't work.)

**Which version are you using:**
 - Tried to

[2018-06-03 03:32] turtles2 commented on #1439
How does the Ubuntu version affect the PHP version? You can install PHP 7.1 on Ubuntu 16.04 I have done so. You can install any PHP version on Ubuntu 16.04 just google PHP 7.1 install Ubuntu 16.04, I would recommend using PHP 7.2 as that it what most of us run and Monica is tested against.

@djaiss the WIKI dose have an error in the PHP version you may want to correct.

[2018-06-03 03:36] turtles2 commented on #1438
@Dagolin Can you tell me what URL that avatar is trying to take you to? If you can do that can you also provide the URL that the contact would have?

[2018-06-03 03:39] turtles2 commented on #1437
@catatonik PostgreSQL is not a supported DB. Please use MySQL.

[2018-06-03 04:27] kissgyorgy commented on #1439
@turtles2 It also says

This is very misleading, because when I read something like this, I tend to believe it just to realize it's a lie when I wasted maybe hours...
I can't edit the Wiki.

[2018-06-03 10:16] Dagolin commented on #1438
Turns out that it's just a [typo hash_Id should be hash_id](https://github.com/monicahq/monica/blob/master/resources/assets/js/components/journal/partials/JournalContentActivity.vue#L134) should be.

[2018-06-03 11:14] djaiss commented on #1439
@turtles2 thanks! We are going to move the documentation back to the code itself. That way the community will be able to edit it more freely.

[2018-06-03 12:01] djaiss opened #1441 "Clearing the last name on Edit contact form doesn't clear the name"
**Describe the bug**
* Edit a contact who has a first and last names
* Clear the last name field
* Save
* The profile keeps displaying the last name

[2018-06-03 17:12] anmol26s opened #1442 "Error while php artisan migrate --force"
I get error while updating the app:

 php artisan migrate --force

[code]

[2018-06-03 17:15] turtles2 commented on #1438
For reference this is a regression introduced by #777 Thank you for fixing it.

[2018-06-03 18:19] privong commented on #1362
Coupled with this, it would also be good to more explicitly note in the setup documentation which directories should be readable by which users.

[2018-06-03 21:07] privong opened #1443 "Name prefixes/suffixes"
## Usability issue
I have several contacts who have similar or identical names:
* Father/son pairs who have the same First+Middle+Last but the son has a "II" suffix
* Father/son pairs who have the same First + Last name but different middle names.

In both cases, the search and various displays only show the identical First and Last names. So it's always a 50/50 shot as to whether I pick the corre

[2018-06-03 21:18] privong opened #1444 "Feature Request: Owncloud/Nextcloud integration/synchronization for CardDav/CalDav"
I was reading in the README that two of the longer-term aims for the project are:
* Be the central point of contact management, by supporting CardDav protocol.
* Be the central point of calendar events, by supporting CalDav protocol.

I think think exposing this type of information would be a great addition.

I did want to ask if there had been consideration of adding some sort of integration with

[2018-06-04 02:31] djaiss commented on #1443
This specifically is coming in #1359

As for the rest, interesting. We'll definitely think about it.

[2018-06-04 02:32] djaiss commented on #1442
@asbiin seems to be linked to the recent migration we've made for the emojis?

[2018-06-04 02:49] OmgImAlexis opened #1446 "Update .env.example default timezone list"
Currently the [.env.example](https://github.com/monicahq/monica/blob/ac239bb6e0bf0ba47b8643a144e8db5c7a4f100e/.env.example#L53) points to `resources/views/settings/index.blade.php` for the default language list yet it was removed in [this commit](
https://github.com/monicahq/monica/blame/bb297d0c06b36363d25419aa7c32e191178edc92/resources/views/settings/index.blade.php#L37).

Maybe it could be move

[2018-06-04 02:49] djaiss commented on #109
This is part of the Caldav support that we want to support this year. Lots of stuff to make this happen.

[2018-06-04 02:50] djaiss commented on #1446
@OmgImAlexis excellent observation!

Thanks for pointing that out!

[2018-06-04 02:59] djaiss commented on #1446
Addressed by #1447

[2018-06-04 10:50] #1446 closed

[2018-06-04 13:05] ManfredWisniewski opened #1452 "monica Index document?"
I have successfully installed monica. It finished and says: "You can now register to the first account by opening the application: URL ....

However when I open said URL it presents me with a 403 Forbidden error. There is noch valid index document in the monica directory.  What is the default DirectoryIndex and where can I get it?

Thanks!

[2018-06-04 14:50] fmcpherson opened #1453 "Email verification not working with Docker Image, do not have access to self hosted site"
**Describe the bug**
NOTE: I presently have a outage of my local installation!

After performing a docker-compose pull for my local installation, I am directed to a login page. Upon entering my credentials the page re-displays with a message saying that I must verify my email and to look for a message in my inbox that never arrives.

I also selected the option to change my email address, which the

[2018-06-04 15:43] fmcpherson commented on #1453
I attempted to create a new user to see what happens and get dumped to the following error page.
[monicaErrorWhenCreatingNewUser.pdf](https://github.com/monicahq/monica/files/2068960/monicaErrorWhenCreatingNewUser.pdf)

[2018-06-04 15:46] fmcpherson commented on #1453
If I get in to the image by doing docker-compose run monicahq shell, is there any easy way to confirm that the files inside the container are the most current? I did a ls -l to look at the dates of the files and see May 31.

[2018-06-04 17:36] MeLlamoPablo commented on #1396
I'm encountering the same error. This is my log:

[code]

If I create the file manually, I get another error:

[code]

[2018-06-04 18:36] privong commented on #1453
This is more of a workaround than a fix, but I went into my database and set the `confirmed` entry for my user to `1`. Something like

[code]

[2018-06-04 18:47] fmcpherson commented on #1453
Are you using the docker version of Monica and if so how are you access mysql?

I note there is a setting .env that I think is basically supposed to do the above that is not working, or perhaps that option is only for new users but as you can see, I can't even add a new user to my instance so something is definitely messed up.

[2018-06-04 19:19] privong commented on #1453
I am using a standalone install (not inside Docker), sorry. I'm afraid I'm not familiar with getting into the SQL CLI via docker.

Do you mean the `APP_DISABLE_SIGNUP=` option? I don't believe that has anything to do with requesting confirmation and only deals with new user creation.

[2018-06-04 19:32] fmcpherson commented on #1453
Not that setting, a new one was added for this feature. See here:

https://github.com/monicahq/monica/commit/a79c19dd6c79fd30f833d8932bdedeebb4716370

I can't translate the code to determine what is going on, but I am never receiving the notification emails so it is behaving as if it were never sent. One thing I do wonder about since it might be using the reminder code, is if the confirmations are

[2018-06-04 20:10] jatls commented on #1452
Are you trying to install in a subdirectory on your server? That's currently not supported and will cause the 403 error. If so, try installing to a subdomain instead, updating your .env APP_URL field accordingly.

[2018-06-04 20:31] privong commented on #1453
Ah okay, I hadn't updated my .env to the latest version. I'm also not familiar enough with the code to say what's going on. Sorry.

[2018-06-04 20:31] ManfredWisniewski commented on #1452
I installed monica in a subdomain - but I did not figure out the "/public" directory at first. I changed the web root directory of the subdomain to /public and now it works fine. Maybe that should be mentioned in the install docs or checked during the install process? I got everything to work and the installer happily told me to go to https://my.subdomain and check it out so I was pretty confused

[2018-06-04 20:31] #1452 closed

[2018-06-04 21:27] fmcpherson commented on #1453
Not that setting, a new one was added for this feature. See here:

https://github.com/monicahq/monica/commit/a79c19dd6c79fd30f833d8932bdedeebb4716370

I can't translate the code to determine what is going on, but I am never receiving the notification emails so it is behaving as if it were never sent. One thing I do wonder about since it might be using the reminder code, is if the confirmations are

[2018-06-04 22:02] #362 closed

[2018-06-04 23:13] #1433 closed

[2018-06-05 07:17] kissgyorgy commented on #1439
I also think that's the right way to do it! Thanks.

Docker worked out fine, thanks. However it has some problems I'm willing to fix if I have more time, but otherwise it's fine.

If at the end something good comes out of it, that's not wasted hours at all.
Wasting hours is when you *know* it won't work at all and you should not have tried it at the first place because it was a dead end. If nobody

[2018-06-05 21:50] asbiin commented on #1442
@anmol26s what is your version of mysql ?

[2018-06-05 22:03] anmol26s commented on #1442
@asbiin
[code]

[2018-06-05 22:28] privong opened #1456 "Extend calls to multiple people?"
**Is your feature request related to a problem? Please describe.**
I recently got off a call with multiple people, but I could only add a call with one person. It would be nice to support group calls.

**Describe the solution you'd like**
I can see at least two possible solutions:
- Extend "calls" to be able to include more than one person. This makes it then seem quite similar to Activities, so t

[2018-06-05 22:31] privong commented on #193
Though I think this would be interesting to see, I agree with @colourgarden and @hupili that it seems beyond the scope of what Monica is intended to do.

Perhaps an interested soul could spin this off as part of a "monica add-ons" project? Since in principle this just needs to know about the Monica directory structure to generate the family tree representation it doesn't require all the Monica inf

[2018-06-06 00:50] jappareti opened #1457 "Avatar tooltip feels laggy"
When you hover over avatars on the Dashboard and Journal page, the tooltip remains visible for too long which makes the tooltips overlay on top of each other. It also looks like the tooltips for avatars with photos aren't displaying correctly.

![](http://g.recordit.co/ro4MEZBkbe.gif)

![](http://g.recordit.co/waoUsvIN2x.gif)

[2018-06-06 01:02] jappareti opened #1458 "Entire row of contact should be clickable on People page"
On the `/people` page, I think the entire row should be clickable to take you to that contact's page. Right now, only the text of the person's name and their avatar is clickable, which is too small of an area. The row highlights when you hover, so I think it's expected behavior that the entire row should also be clickable. What do you think?

![monica_ _personal_relationship_manager](https://user-

[2018-06-06 05:28] tomgs commented on #1431
@djaiss FYI

[2018-06-06 05:43] OmgImAlexis commented on #193
@privong what do you mean by this?

The API would be sufficient to build any type of family tree as it provides access to all the relationships as well as other info.

API: https://www.monicahq.com/api

[2018-06-06 06:52] tomgs commented on #1439
For now, and for future reference until the wiki is fixed, I fixed a few issues with the installation instructions [here](https://github.com/tomgs/MonicaWikiUpdates).

[2018-06-06 06:56] davisonio opened #1459 "Relationship history"
Would be cool if this could be recorded somehow easily. At the moment when you delete a significant other that data is gone forever and it is very useful to know about other's relationships. Maybe adding a field for whether the relationship has ended?

This could actually be extended to provide a history for all changes in monica...a feed showing what details have been updated on the person (e.g.

[2018-06-06 07:35] erdmenchen commented on #1442
I get the same error when running `php artisan monica:update --force`

[2018-06-06 12:01] privong commented on #193
@OmgImAlexis I didn't know there was an API. I meant SQL schema, not directory structure, sorry.

[2018-06-06 12:55] djaiss commented on #1442
Really sorry about that.

This is linked to this file https://github.com/monicahq/monica/blob/master/database/migrations/2018_05_24_203000_convert_mysql_encoding.php

It works on all my environments but obviously breaks yours...

I'd like to simply delete this migration and submit a new release but I need to see if it'd solve your problems:
* Delete this file
* Perhaps you could also delete in the

[2018-06-06 13:16] anmol26s commented on #1442
As far as [YunoHost Monica package](https://github.com/YunoHost-Apps/monica_ynh) we will stick to version v2.1.1 till the fix comes.

[2018-06-06 15:17] erdmenchen commented on #1442
After reverting back all the changes from
https://github.com/monicahq/monica/commit/643efa1bd60222f48d119f36d94ae90d0c5eea13#diff-8a025ad5d4f4fade612727b1bb0e974f
I was able to run the migration again and update to the latest version.

So deleting the particular migration from this commit and reverting the changes to config/database, fixes this... but this is only a hotfix, this does not fix the r

[2018-06-06 18:44] gramakri commented on #1442
Would be great if there is a link from https://github.com/monicahq/monica/releases/tag/v2.2.1 to this issue (assuming this is the issue that you are warning users about).

[2018-06-06 20:55] inerte opened #1461 "Can not find how to pay"
On https://www.monicahq.com/pricing there's a link to https://app.monicahq.com/register but it's just redirecting to https://app.monicahq.com/dashboard

[2018-06-06 22:59] jappareti commented on #1459
This is a great idea!

I imagine the feed or timeline would not only show the things that you edited, but also the activities that you logged, notes, phone calls, etc. It'd be nice to go to a contact and just quickly scroll through all of the updates to get caught up.

[2018-06-07 02:11] tomzx commented on #1437
It might not be supported yet, but it does point to a database constraint violation.

[2018-06-07 11:12] asbiin commented on #1442
Thank you for the report!

To be clear: we do not test Monica on all databases versions. We just can't. Sorry for that.
This migration should works fine on mysql > 5.7.7. For other database system, I cannot garantee it will works (obviously, it's not!).

It will be very usefull if some of you can test the fix from #1466 on `fix/migration-utf8mb4-1442` branch.

[2018-06-07 18:49] anmol26s commented on #1442
Sorry for the delay.
Fresh installs work. But upgrade from previous version fails.
[code]

[2018-06-07 20:48] djaiss commented on #1461
@inerte you have to go to https://app.monicahq.com/settings/subscriptions 😀

[2018-06-07 20:48] #1461 closed

[2018-06-07 21:53] inerte commented on #1461
Thanks @djaiss , now I know where to pay. But the link at https://www.monicahq.com/pricing is still wrong, though :)

[2018-06-08 13:33] dd86k commented on #1436
Likewise. There is absolutely no documentation for anything that relates to mailing.

[2018-06-08 17:34] asbiin commented on #1442
@anmol26s ok now it should works.
I've added a new command called `migrate:collation`, which is called from `monica:update`.
It handles the utf8<->utf8mb4 migration regarding the value of `DB_USE_UTF8MB4` variable.

Hope it will make it!

[2018-06-08 21:33] anmol26s commented on #1442
This has fixed the issue. Thanks a lot for quick fixed and giving a wonderful app like Monica.

[2018-06-09 17:35] tomzx commented on #1072
Looks like this was closed by #1090. This can thus be closed.

[2018-06-09 17:40] tomzx commented on #1047
I can't reproduce this issue on master @ commit:a0710ff924241100895ab0ca3a7192760e41a9fa.

@HugoGerritsen Can you still reproduce the issue?

[2018-06-09 22:21] gramakri commented on #1436
Monica is just using lavarel framework for sending email. So, you can just look up docs in lavarel.

I was debugging this for the Monica app on Cloudron. Adding `MAIL_DRIVER=log` does put the emails in `storage/logs/lavarel.log`.

On Cloudron, we have a built-in SMTP server. The combination that works for us is:
[code]

Hope that helps someone.

[2018-06-10 00:59] #1457 closed

[2018-06-10 13:29] tomgs opened #1472 "Documentation: Setting Up E-Mail For Monica On Ubuntu"
Not sure how to go about this, and haven't seen anything on the Wiki.
Can someone give a brief overview of what Monica uses for E-Mail? I've got everything set up and working crisply besides that part.

[2018-06-10 15:44] tomgs commented on #1472
Sounds like something that should be included in the Wiki. Once I'm done setting it up I'll update the instructions I wrote with that part as well.
Thanks @turtles2 !

[2018-06-10 15:45] tomgs commented on #1431
@asbiin Or should that be you? :)

[2018-06-10 16:38] #1442 closed

[2018-06-10 17:14] #1213 closed

[2018-06-10 19:44] djaiss commented on #1472
Indeed, thanks @turtles2 !